<section class="pricing-about">
    <div class="xln-container">
        <div class="xln-content">
            <h2>Der richtige Plan für Ihr Unternehmen</h2>
            <p>Wir helfen Ihnen, Ihre Server- und Webanwendungen bereitzustellen. Überlassen Sie uns Themen wie Hardering, Patching, Monitoring und Backup und fokusieren Sie sich auf Ihre Kernkompetenzen</p>
        </div>
        <div class="pricing-about__content">
            <div class="xln-about-items">
                <div class="xln-about-item">
                    <div class="xln-about-item__icon">
                        <img src="img/icon/about-rocket.svg" alt="">
                    </div>
                    <h3 class="xln-about-item__title">
                        Start small
                    </h3>
                    <p class="xln-about-item__text">
                        Egal, ob es sich um eine umfangreiche Infrastruktur oder eine kleine Testumgebung handelt. Mit Xelon HQ richten Sie die Infrastruktur für Ihre Bedürfnisse ein
                    </p>
                </div>
                <div class="xln-about-item">
                    <div class="xln-about-item__icon">
                        <img src="img/icon/about-atom.svg" alt="">
                    </div>
                    <h3 class="xln-about-item__title">
                        Think big
                    </h3>
                    <p class="xln-about-item__text">
                        Schweizer Datensicherung, ISO-zertifiziertes Rechenzentrum, Enterprise-Support und ein exzellentes Expertenteam helfen Ihnen zum Erfolg
                    </p>
                </div>
                <div class="xln-about-item">
                    <div class="xln-about-item__icon">
                        <img src="img/icon/about-chart.svg" alt="">
                    </div>
                    <h3 class="xln-about-item__title">
                        Scale fast
                    </h3>
                    <p class="xln-about-item__text">
                        Ihr Unternehmen wächst und Sie müssen Ihre Infrastruktur erwietern? Wir haben für Sie vorgesorgt! Skalieren Sie Ihre Infrastruktur per Mausklick
                    </p>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.xln-about -->
