<section class="pricing-banner">
	<div class="xln-container">
        <div class="xln-content">
            <h1>Scalable, transparent, Swiss made</h1>
            <div class="pricing-banner__icons">
                <img src="img/icon/pricing-scale.svg" alt="">
                <img src="img/icon/pricing-eye.svg" alt="">
                <img src="img/icon/pricing-swiss.svg" alt="">
            </div>
            <p>Erstellen Sie eine Cloud-Server- und Container-Infrastruktur<br> per Mausklick, und Sie werden nur so viel zahlen, wie Sie verbrauchen</p>
        </div>
        <div class="pricing-banner-form">
            <p class="pricing-banner-form__title">
                Kostenlose Guthaben für 60 Tage erhalten!
            </p>
            <form action="#" class="pricing-banner-form__form">
                <div class="form-block">
                    <input type="email" name="email" id="email" placeholder="Email*" class="form-input">
                    <label for="email" class="form-label">Email*</label>
                    <div class="msg"></div>
                </div>
                <input type="submit" class="xln-button xln-button--green" value="Jetzt anmelden">
            </form>
            <div class="pricing-banner-form__footer">
                <div class="signups-title">
                    <span>oder registrieren Sie sich mit</span>
                </div>
                <div class="signups">
                    <a href="#" class="signup">
                        <img src="img/icon/google.svg" alt="">
                        <span>Google</span>
                    </a>
                    <a href="#" class="signup">
                        <img src="img/icon/github.svg" alt="">
                        <span>GitHub</span>
                    </a>
                </div>
            </div>
        </div>
	</div>
</section><!-- /.pricing-banner -->
