<section class="pricing-calc">
    <div class="xln-container">
        <div class="xln-content">
            <h2 class="xln-content__title">
                <img src="img/icon/pricing-calc.svg" alt="">
                Preisrechner
            </h2>
            <p>Erstellen Sie Ihre eigene Infrastruktur und nutzen Sie den Kalkulator, um einen besseren Überblick über Ihre Kosten zu erhalten. Fügen Sie einfach Elemente hinzu, die Sie verwenden möchten, und erhalten Sie die Kostenschätzung</p>
        </div>
        <div class="calc">

        </div>
    </div>
</section><!-- /.xln-about -->
