.xln-about {
    background-color: var(--xln-bg);
}

.xln-about__titles {
    text-align: center;
}

.xln-about__subtitle {
    text-transform: uppercase;
    margin-bottom: 8px;
    color: var(--xln-main) !important;

    @include media-up(md) {
        margin-bottom: 20px;
    }
}

.xln-about__content {
    position: relative;
    margin-top: 40px;

    @include media-up(lg) {
        margin-top: 60px;
        box-shadow: 0px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 8px;
        background-color: var(--xln-white);
        padding: 60px 0;
    }
}

.xln-about__items {
    margin-bottom: 40px;

    @include media-up(md) {
        margin-bottom: 60px;
    }
}

.xln-about-items {
    @include media-up(lg) {
        display: flex;
    }
}

.xln-about-item {
    text-align: center;
    padding: 40px;
    background-color: var(--xln-white);
    border-radius: 8px;
    margin-bottom: 16px;

    @include media-up(lg) {
        flex: 1 1 0;
        border-radius: 0;
        padding: 30px 42px;
        border-right: 1px solid var(--xln-gray);
    }

    &:last-child {
        margin: 0;
        border: 0 !important;
    }
}

.xln-about-item__icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 16px;
    background-color: var(--xln-main);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 9px 35px 44px rgba(229, 233, 246, 0.4);
    border-radius: 8px;

    @include media-up(md) {
        width: 80px;
        height: 80px;
        margin: 0 auto 32px;
    }

    img {
        width: 36px;
        height: 36px;

        @include media-up(md) {
            width: 48px;
            height: 48px;
        }
    }
}

.xln-about-item__title {
    margin-bottom: 12px;

    @include media-up(md) {
        margin-bottom: 20px;
    }
}

.xln-about-item__text {
    font-size: 14px;
    color: var(--xln-light);

    @include media-up(md) {
        font-size: 16px;
    }
}

.xln-content-box {
    background-color: var(--xln-main);
    margin: 0 auto;
    color: var(--xln-white);
    padding: 40px;

    @include media-up(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        max-width: 1160px;
        border-radius: 8px;
    }

    @include media-up(lg) {
        flex-direction: row;
        padding: 50px 60px;
    }

    .xln-button {
        flex-shrink: 0;
    }
}

.xln-content-box__text {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 20px;

    @include media-up(lg) {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 0;
        margin-right: 25px;
        max-width: 700px;        
    }
}

.xln-about__content-box {
    margin: 0 -20px;

    @include media-up(sm) {
        margin: 0 10px;
    }

    @include media-up(md) {
        margin: 0 20px;
    }

    @include media-up(xl) {
        margin: 0 60px;
    }
}