.xln-offer {
    padding: 0 0 30px;
    overflow: hidden;

    @include media-up(md) {
        padding: 0 0 40px;
    }

    @include media-up(lg) {
        padding: 0 0 60px;
    }

    .tns-ovh {
        @include media-only(lg) {
            width: calc(100vw - 430px);
        }
    }
}

.xln-offer__wrapper {
    margin: 40px 0;

    @include media-up(md) {
        margin: 60px 0;
    }

    @include media-up(lg) {
        margin: 80px 0;
        display: grid;
        grid-template-columns: 290px 1fr;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
        position: relative;
    }
}

.xln-offer__slider-nav {
    margin-top: 30px;

    @include media-up(lg) {
        margin-top: 0;
        position: absolute;
        flex-direction: column;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .xln-slider-nav-dot {
        &:not(:last-child) {
            margin-right: 12px;

            @include media-up(lg) {
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
    }
}

.xln-offer-item__content {
    @include media-up(lg) {
        width: 90%;
    }
}

.xln-offer-item__logo-wrapper {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 20px #ebeefa;
    border-radius: 8px;
    margin-bottom: 35px;

    @include media-up(sm) {
        height: 240px;
    }

    @include media-up(lg) {
        height: 290px;
        margin-bottom: 0;
    }

    img {
        width: 160px;
    }
}

.xln-offer-item__title {
    color: var(--xln-total-dark);
}

.xln-offer-item__text {
    margin-top: 16px;

    @include media-up(lg) {
        font-size: 18px;
    }
}

.xln-offer-item__link {
    font-weight: 500;
    font-size: 18px;

    @include media-up(md) {
        margin-top: 25px;
    }
}

.xln-offer-stat {
    padding: 40px 20px;
    background-color: var(--gray);
    margin: 0 -16px;

    @include media-up(md) {
        padding: 50px;
        margin: 0;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include media-up(xl) {
        padding: 100px 70px;
    }
}

.xln-offer-stat__title {
    font-size: 24px;

    @include media-up(md) {
        max-width: 270px;
        width: 100%;
        margin-right: 15px;
    }

    @include media-up(lg) {
        font-size: 38px;
        max-width: 400px;
    }

    @include media-up(xl) {
        margin-right: 80px;
    }
}

.xln-offer-stat__stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
    text-align: right;

    @include media-up(md) {
        margin-top: 0;
    }
}

.xln-offer-stat__number {
    font-weight: 600;
    font-size: 32px;
    color: var(--xln-main);
    opacity: 0;
    white-space: nowrap;

    @include media-up(lg) {
        font-weight: 700;
        font-size: 50px;
    }

    &.xln-active {
        opacity: 1;
    }
}

.xln-offer-stat__text {
    font-size: 14px;
    font-weight: 500;

    @include media-up(lg) {
        font-size: 16px;
    }
}