.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.msg {
    top: -13px;
    left: auto;
    right: 0;
    width: auto;
}

.custom-sq label:before {
    width: 24px;
    height: 24px;
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
}

.checkboks-text {
    position: relative;
    top: 0 !important;
    display: block;
    padding-left: 36px;
    font-size: 12px;
    line-height: 100%;

    &::before {
        position: absolute;
        left: 0;
    }

    a {
        text-decoration: none;
    }
}

.checkboks .checkboks-text {
    top: 0 !important;
}

aside.weglot-default {
    display: none;
}

.like-header {
    padding: 0;
}

.ds-item-title {
    padding: 0;
}

.adv-title {
    padding: 0;
}

.support-form {
    border: 0;

    .like-header {
        margin-bottom: 30px;
    }

    .checkboks-text {
        display: flex;
    }

    .custom-sq.checkboks span {
        color: #000 !important;
    }

    .modal-input::placeholder {
        color: transparent;
    }

    .send-success-zone {
        justify-content: center;
    }

    .support-submit {
        min-width: 170px;
    }
}


.page-special-offer .support-form {
    .modal-input {
        border-color: #fff;
    }

    .checkboks-text:before {
        border: 1px solid #fff;
    }
}

.blue-label {
    position: absolute;
    top: 16px;
    left: 16px;
    line-height: 1;
    color: var(--gray-4);
    pointer-events: none;
    transition: .25s;

    @include media-down(sm) {
        top: 22px;
    }
}

input:focus ~ .blue-label,
input.not-empty ~ .blue-label,
textarea:focus ~ .blue-label,
textarea.not-empty ~ .blue-label {
    top: -7px !important;
    font-weight: 500;
    font-size: 12px;
    color: var(--light) !important;
}

#category #subs-form .custom-sq.checkboks span {
    color: #000 !important;
}

.partner-locate-one .contact-pl {
    @media (min-width: 576px) {
        margin-left: 10px;
    }
}

.blue-label {
    pointer-events: none;
}

.admin-bar .mfp-wrap .mfp-close, 
.admin-bar .mfp-wrap .mfp-close:active, 
.admin-bar .mfp-wrap .mfp-close:hover, 
.admin-bar .mfp-wrap .mfp-close:focus {
    top: 0 !important;
}

.wlc-text {
    .d-flex {
        @include media-down(xs) {
            display: block;
        }
    }

    .xln-button + .xln-button {
        margin-left: 20px;

        @include media-down(xs) {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}

.serv-need {
    display: flex;
    flex-direction: column;
}

.subs-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 50px;
    background: none;
    border-radius: 4px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 1;
    color: var(--xln-white);
    background-color: var(--xln-main);
    transition: 0.2s ease-in-out;
    text-align: center;
    text-decoration: none !important;
    white-space: unset;

    @include media-up(md) {
        display: inline-flex;
        width: 150px;
        padding: 8px 24px;
    }

    &:hover {
        background-color: var(--xln-main-hover);
    }

    &:active {
        background-color: var(--xln-main-active);
    }
}

.single-post h2 strong {
    font-weight: normal;
}

.admin-bar .main-nav__wr--start-sticky {
    @include media-up(lg) {
        top: 32px;        
    }
}