.pricing-calc {
    padding: 60px 0 80px;

    @include media-up(md) {
        padding: 60px 0 120px;
    }
}

.calc {
    &__container {
        @include media-down(sm) {
            padding: 0;
        }
    }
}

// Block
.calc-block {
    position: relative;
    width: 100%;
    padding: 20px;
    margin-bottom: 4px;
    background: var(--xln-bg);

    @include media-up(md) {
        padding: 20px 0;
        margin-bottom: 0;
        background: none;
        border-bottom: 1px solid var(--xln-gray);
    }

    &__title {
        line-height: 1;
        font-weight: bold;
        margin-bottom: 12px;

        @include media-up(md) {
            margin-bottom: 14px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        @include media-up(md) {
            justify-content: flex-end;
        }

        @include media-up(xl) {
            margin-top: 16px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        line-height: 1;

        svg {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            transition: transform .25s;
        }

        &:hover svg {
            transform: rotate(90deg);
        }        

        &--remove {
            color: var(--xln-alert);

            @include media-down(sm) {
                position: absolute;
                right: 20px;
                top: 20px;

                svg {
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                }
            }
        }

        &--add {
            display: none;
            color: var(--xln-main);

            @include media-up(md) {
                margin-left: 40px;
            }
        }
    }

    &:nth-last-child(2) .calc-block__button--add {
        display: flex;
    }
}

// Row
.calc-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// Total block
.calc-total {
    color: var(--xln-dark-2);
    line-height: 1;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        margin-right: 4px;

        svg {
            color: var(--xln-main);
            margin-right: 8px;
        }
    }

    &__value {
        span {
            font-weight: bold;
            color: var(--xln-dark);
        }
    }
}

// Select
.calc-select {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 44px;
    line-height: 1;
    transition: .25s;
    cursor: pointer;

    @include media-up(md) {
        min-width: 180px;
        max-width: 320px;
    }

    &.xln-active {
        z-index: 11;

        .calc-select__current {
            color: var(--xln-main);
            border-color: var(--xln-main);

            svg {
                color: var(--xln-main);
            }
        }

        .calc-select__btn {
            color: var(--xln-main);
            border-color: var(--xln-main);

            svg {
                transform: rotate(180deg);
                color: var(--xln-main);
            }
        }

        .calc-select__items {
            opacity: 1;
            visibility: visible;
            transform: translateY(4px);
        }
    }

    &__current {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px 50px 10px 20px;
        background: var(--xln-light);
        border: 1px solid var(--xln-gray);
        border-radius: 8px;

        span {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        
        svg {
            width: 24px;
            height: 24px;
            color: var(--xln-dark-2);
            margin-right: 8px;
        }
    }

    &__items {
        position: absolute;
        z-index: -1;
        top: 100%;
        left: 0;
        transform: translateY(-10px);
        width: 100%;
        border-radius: 8px;
        border: 1px solid var(--xln-gray);
        opacity: 0;
        visibility: hidden;
        transition: .25s;
        
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 5px;
            transform: translateY(-100%);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 14px 20px;
        background: var(--xln-light);

        &:hover {
            background: var(--xln-main);
            color: var(--xln-light);

            svg {
                color: var(--xln-light);
            }
        }

        &:first-child {
            border-radius: 8px 8px 0 0;
        }

        &:last-child {
            border-radius: 0 0 8px 8px
        }
        
        svg {
            width: 24px;
            height: 24px;
            color: var(--xln-dark-2);
            margin-right: 8px;
        }
    }

    &__btn {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 100%;
        border-left: 1px solid var(--xln-gray);
        color: var(--xln-dark-2);
        pointer-events: none;

        svg {
            color: var(--xln-dark-2);
            transition: .25s;
        }
    }
}

// Item
.calc-item {
    width: 100%;
    max-width: 100%;

    @include media-up(md) {
        width: auto;
    }

    &__title {
        display: flex;
        align-items: center;
        padding-left: 8px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 12px;
    }

    &__toggler {
        position: relative;
        width: 44px;
        height: 24px;
        background: var(--xln-main);
        border: 1px solid transparent;
        border-radius: 50px;
        transition: .25s;
        margin-left: 10px;
        cursor: pointer;

        @include media-up(lg) {
            width: 24px;
            height: 14px;            
        }

        span {
            position: absolute;
            z-index: 1;
            left: 21px;
            top: 1px;
            display: block;
            width: 20px;
            height: 20px;
            background: var(--xln-light);
            border-radius: 100%;
            transition: .25s;

            @include media-up(lg) {
                left: 11px;
                width: 10px;
                height: 10px;                
            }
        }
    }

    &--disabled {
        .calc-item__toggler {
            background: var(--xln-light);
            border-color: var(--gray-2);

            span {
                left: 1px;
                background: var(--gray-2);
            }
        }
        .calc-counter {
            opacity: 0.4;
            pointer-events: none;
        }
    }
}

// Counter
.calc-counter {
    display: flex;
    height: 44px;
    background: var(--xln-light);
    border: 1px solid var(--xln-gray);
    border-radius: 8px;
    overflow: hidden;
    transition: opacity .25s;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 100%;
        color: var(--xln-dark-2);
        cursor: pointer;

        &:hover {
            color: var(--xln-main);
        }
    }

    input {
        flex: 1 1 0;
        min-width: 44px;
        height: 100%;
        font-weight: bold;
        text-align: center;
        border-left: 1px solid var(--xln-gray);
        border-right: 1px solid var(--xln-gray);
        -moz-appearance:textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        @include media-up(md) {
            width: 44px;
        }
    }
}

// Section
.calc-section {
    margin-bottom: 16px;

    @include media-up(md) {
        margin-bottom: 20px;
        padding: 20px;
        background: var(--xln-bg);
        border-radius: 8px;
    }

    &__header {
        position: relative;
        padding-right: 52px;

        @include media-up(md) {
            padding-right: 0;
            padding-top: 0;
        }

        .calc-row {
            align-items: center;
        }        

        .calc-total {
            font-size: 14px;
            font-weight: 500;

            @include media-up(md) {
                margin-right: 30px;
            }

            @include media-up(lg) {
                margin-right: 58px;
            }
        }
    }

    &__title {
        width: 100%;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 12px;

        @include media-up(md) {
            width: auto;
            font-size: 24px;
            margin-bottom: 0;
            margin-right: auto;
        }
    }

    &__toggler {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        border: 1px solid var(--xln-main);
        color: var(--xln-main);
        cursor: pointer;

        @include media-down(sm) {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);            
        }

        &.xln-active svg {
            transform: translate(-50%, -50%);
        }

        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(180deg);
            transition: transform .3s;
        }
    }

    &__content {
        .calc-total {
            display: none;
            width: 100%;
            background: var(--xln-light);
            border-radius: 8px;
            padding: 8px 16px;

            @include media-up(md) {
                display: block;
                width: 270px;   
                margin-left: auto;
            }

            @include media-up(lg) {
                width: 320px;
            }

            &__value span {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    &__footer {
        margin-top: -4px;
        background: var(--xln-bg);
        padding: 0 20px 20px;

        @include media-up(md) {
            display: none;
        }

        .calc-total {
            display: block;
        }
    }
}

// Servers
.calc-server {
    .calc-block__title {
        margin-bottom: 20px;
    }

    .calc-item {
        margin-bottom: 20px;

        @include media-down(sm) {
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
            
            &:nth-child(2),
            &:nth-child(3) {
                width: calc((100% - 20px) / 2);
            }

            &:nth-child(2) {
                margin-right: 20px;
            }
        }

        @include media-up(md) {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
        
        @include media-only(md) {
            &:nth-child(2),
            &:nth-child(3) {
                width: calc((100% - 220px) / 2);
            }

            &:nth-child(3) {
                margin-right: 0;
            }
            
            &:nth-child(n + 4) {
                width: calc(50% - 10px);
            }
        }

        @include media-up(lg) {            
            &:nth-child(2) {
                margin-left: auto;
            }

            &:nth-child(n + 4) {
                flex: 1 1 0;
                max-width: 248px;
            }
        }
    }
}

// Network
.calc-network {    
    .calc-block__title {
        width: 100%;

        @include media-up(md) {
            width: 160px;
            padding-right: 20px;
        }
    }

    .calc-row {
        @include media-up(md) {
            align-items: flex-end;
        }
    }
}

// Service
.calc-service {
    .calc-item {
        @include media-down(sm) {
            display: flex;

            &__title {
                padding-left: 0;
                margin-bottom: 0;
                margin-right: 16px;
            }
        }
    }
}

// WAN
.calc-wan {
    .calc-item {
        @include media-up(md) {
            flex: 1 1 0;
            margin-right: 20px;
        }
    }
}