.pricing-calc {
    padding: 60px 0 80px;

    @include media-up(md) {
        padding: 60px 0 120px;
    }
}

.calc {
    &__container {
        @include media-down(sm) {
            padding: 0;
        }
    }
}

.calc-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &--center {
        align-items: center;
    }
}

.calc-block {
    padding: 20px;
    margin-bottom: 4px;
    background: var(--xln-bg);

    @include media-up(md) {
        padding: 20px 0;
        margin-bottom: 0;
        background: none;
        border-bottom: 1px solid var(--xln-gray);
    }

    &__title {
        line-height: 1;
        font-weight: bold;
        margin-right: auto;
    }
}

.calc-section {
    margin-bottom: 16px;

    @include media-up(md) {
        margin-bottom: 20px;
        padding: 20px;
        background: var(--xln-bg);
        border-radius: 8px;
    }

    &__header {
        position: relative;
        padding-right: 52px;

        @include media-up(md) {
            padding-right: 0;
            padding-top: 0;
        }

        .calc-row {
            align-items: center;
        }
    }

    &__title {
        width: 100%;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 12px;

        @include media-up(md) {
            width: auto;
            font-size: 24px;
            margin-bottom: 0;
            margin-right: auto;
        }
    }

    &__toggler {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        border: 1px solid var(--xln-main);
        color: var(--xln-main);
        cursor: pointer;

        @include media-down(sm) {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);            
        }

        &.xln-active svg {
            transform: translate(-50%, -50%) rotate(180deg);
        }

        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: transform .3s;
        }
    }
}

.calc-total {
    color: var(--xln-dark-2);
    line-height: 1;

    &--top {
        font-size: 14px;
        font-weight: 500;

        @include media-up(md) {
            margin-right: 58px;
        }
    }

    &--block {
        width: 320px;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 8px 16px;

        .calc-total__value span {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        margin-right: 4px;

        svg {
            color: var(--xln-main);
            margin-right: 8px;
        }
    }

    &__value {
        span {
            font-weight: bold;
            color: var(--xln-dark);
        }
    }
}