<section class="products-advantages">
	<div class="xln-container">
        <div class="products-advantages__list">
            <div class="products-advantage">
                <div class="products-advantage__icon">
                    <img src="img/icon/adv-umbrella.svg" alt="">
                </div>
                <div class="products-advantage__title">
                    Sicher betreiben
                </div>
                <div class="products-advantage__text">
                    Betreibt eure Anwendungen und Workloads in einer hochverfügbaren und sicheren IT&#8209;Umgebung
                </div>
            </div>
            <div class="products-advantage">
                <div class="products-advantage__icon">
                    <img src="img/icon/adv-feather.svg" alt="">
                </div>
                <div class="products-advantage__title">
                    Einfach verwalten
                </div>
                <div class="products-advantage__text">
                    Erstellt und verwaltet Linuxoder Windows&#8209;Server per Mausklick und&nbsp;regelt Zugriffe auf eure IT&#8209;Umgebung
                </div>
            </div>
            <div class="products-advantage">
                <div class="products-advantage__icon">
                    <img src="img/icon/adv-stats.svg" alt="">
                </div>
                <div class="products-advantage__title">
                    Unkompliziert skalieren
                </div>
                <div class="products-advantage__text">
                    Erweitert eure IT-Infrastuktur so schnell wie nie zuvor und schaltet innert Sekunden zusätzliche Rechenleistung frei
                </div>
            </div>
        </div>
    </div>
</section>