<section class="products-banner">
    <div class="products-banner__bg">
        <img src="img/base/products-banner.jpg" alt="">
    </div>
	<div class="xln-container">
        <div class="products-banner__content">
            <h1 class="products-banner__title">
                Betreibt, testet und skaliert eure Lösungen in&nbsp;einer Schweizer Cloud&#8209;Infrastruktur
            </h1>
            <div class="products-banner__text">
                Das intuitive Xelon HQ - made in Switzerland - vereinfacht das&nbsp;Management von IT-Umgebungen massiv
            </div>
        </div>
        <div class="products-banner-form">
            <form action="#" class="products-banner-form__form email-form">
                <div class="form-block">
                    <input type="email" name="email" id="email" placeholder="Email*" class="form-input">
                    <label for="email" class="form-label">Email*</label>
                    <div class="msg"></div>
                </div>
                <input type="submit" class="xln-button xln-button--green" value="Jetzt anmelden">
            </form>
            <div class="products-banner-form__signups">
                <div class="signups-title">
                    <span>oder registrieren Sie sich mit</span>
                </div>
                <div class="signups">
                    <a href="#" class="signup">
                        <img src="img/icon/google.svg" alt="">
                        <span>Google</span>
                    </a>
                    <a href="#" class="signup">
                        <img src="img/icon/github.svg" alt="">
                        <span>GitHub</span>
                    </a>
                </div>
            </div>
        </div>
	</div>
</section>
