<section class="products-offer">
    <div class="xln-container">
        <div class="products-offer__content">
            <h2 class="products-offer__title">
                Mit dem Xelon HQ könnt ihr euch auf euer Kerngeschäft fokussieren, während wir als Schweizer Cloud-Experten uns um die IT-Infrastruktur kümmern
            </h2>
            <form action="#" class="products-offer__form email-form">
                <div class="form-block">
                    <input type="email" name="email" id="email" placeholder="Email*" class="form-input">
                    <label for="email" class="form-label">Email*</label>
                    <div class="msg"></div>
                </div>
                <button type="submit" class="xln-button xln-button--green">
                    Jetzt kostenlos anmelden
                    <svg width="9" height="14">
                        <use xlink:href='#arrow-right'></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</section>