<section class="products-platforms">
	<div class="xln-container">
        <h1 class="products-platforms__title">
            Plattform-Features
        </h1>
        <div class="products-platforms__wrapper">
            <div class="products-platforms__nav products-platforms-nav">
                <div class="products-platforms-nav__wrapper">
                    <div class="products-platforms-nav__header">
                        <div class="products-platforms-nav__title">
                            Choose
                        </div>
                        <div class="products-platforms-nav__btn">
                            <img src="img/icon/menu-btn.svg" alt="">
                            <img src="img/icon/menu-cross.svg" alt="">
                        </div>
                    </div>
                    <div class="products-platforms-nav__list">
                        <a href="#platform-computing" class="products-platforms-nav__item">
                            Computing
                            <svg width="10" height="18">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                        <a href="#platform-storage" class="products-platforms-nav__item">
                            Storage
                            <svg width="10" height="18">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                        <a href="#platform-network" class="products-platforms-nav__item">
                            Network & Security
                            <svg width="10" height="18">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                        <a href="#platform-management" class="products-platforms-nav__item">
                            Management-Tools
                            <svg width="10" height="18">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                        <a href="#platform-isolation" class="products-platforms-nav__item">
                            Isolation
                            <svg width="10" height="18">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="products-platforms__content">
                <div class="products-platform" id="platform-computing">
                    <div class="products-platform__header">
                        <h2 class="products-platform__title">
                            Computing
                        </h2>
                        <div class="products-platform__text">
                            Unsere in der Schweiz entwickelte und gehostete Cloud-Plattform unterstützt IT-Dienstleister beim Ausbau ihres Service-Portfolios
                        </div>
                    </div>
                    <div class="products-platform__features products-platform__features--col-2">
                        <a href="#" class="products-feature products-feature--link">
                            <img src="img/icon/arrow-up-right.svg" alt="" class="products-feature__arrow">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-kubernetes.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Kubernetes
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Im Xelon HQ könnt ihr innerhalb weniger Minuten Kubernetes Cluster kreieren, auf eure Bedürfnisse anpassen und mit Block Storage sowie Load-Balancing-Funktionen kombinieren. Fokussiert euch auf den Ausbau eurer Services, wir kümmern uns um die Infrastruktur
                            </div>
                        </a>
                        <a href="#" class="products-feature products-feature--link">
                            <img src="img/icon/arrow-up-right.svg" alt="" class="products-feature__arrow">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-windows-linux.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Windows & Linux
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Erstellt komplette Serverinfrastrukturen für eure Kunden und Projekte in unserer Public Cloud oder einer Private Cloud. Xelon HQ vereinfacht nicht nur das Aufsetzen von IT-Infrastrukturen, sondern auch die Verwaltung, Skalierung und Abrechnung
                            </div>
                        </a>
                    </div>
                </div>
                <div class="products-platform" id="platform-storage">
                    <div class="products-platform__header">
                        <h2 class="products-platform__title">
                            Storage
                        </h2>
                        <div class="products-platform__text">
                            Im Xelon HQ sind eure Daten sicher: Xelon HQ erfüllt höchste SecurityStandards und bietet regelmässige Backups
                        </div>
                    </div>
                    <div class="products-platform__features products-platform__features--col-3">
                        <a href="#" class="products-feature products-feature--link">
                            <img src="img/icon/arrow-up-right.svg" alt="" class="products-feature__arrow">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-persistent-storage.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Persistent Storage
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Dank Persistent Storage werden eure Daten und Systeme in unserer Cloud-Infrastruktur auch bei Strom- oder  Internetausfällen gespeichert. So verliert ihr keine wertvollen Arbeitsfortschritte
                            </div>
                        </a>
                        <a href="#" class="products-feature products-feature--link">
                            <img src="img/icon/arrow-up-right.svg" alt="" class="products-feature__arrow">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-block-storage.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Block Storage
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Im Xelon HQ werden eure Daten in Blöcke aufgeteilt und separat gespeichert (Block Storage). Dies vereinfacht die Verwaltung sowie Konfiguration und erleichtert den Arbeitsalltag von ITDienstleistern
                            </div>
                        </a>
                        <div class="products-feature">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-backup-snapshots.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Backup & Snapshots
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Erstellt im Xelon HQ jederzeit Backups und Snapshots. Unsere Cloud-Plattform bietet sowohl die tägliche Sicherung kompletter Server als auch ein agentenbasiertes Backup für Files und Applikationen
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-platform" id="platform-network">
                    <div class="products-platform__header">
                        <h2 class="products-platform__title">
                            Network & Security
                        </h2>
                        <div class="products-platform__text">
                            Im Xelon HQ sind eure Daten sicher: Xelon HQ erfüllt höchste SecurityStandards und bietet regelmässige Backups
                        </div>
                    </div>
                    <div class="products-platform__features products-platform__features--col-3">
                        <a href="#" class="products-feature products-feature--link">
                            <img src="img/icon/arrow-up-right.svg" alt="" class="products-feature__arrow">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-persistent-storage.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Persistent Storage
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Dank Persistent Storage werden eure Daten und Systeme in unserer Cloud-Infrastruktur auch bei Strom- oder  Internetausfällen gespeichert. So verliert ihr keine wertvollen Arbeitsfortschritte
                            </div>
                        </a>
                        <a href="#" class="products-feature products-feature--link">
                            <img src="img/icon/arrow-up-right.svg" alt="" class="products-feature__arrow">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-block-storage.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Block Storage
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Im Xelon HQ werden eure Daten in Blöcke aufgeteilt und separat gespeichert (Block Storage). Dies vereinfacht die Verwaltung sowie Konfiguration und erleichtert den Arbeitsalltag von ITDienstleistern
                            </div>
                        </a>
                        <div class="products-feature">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-backup-snapshots.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Backup & Snapshots
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Erstellt im Xelon HQ jederzeit Backups und Snapshots. Unsere Cloud-Plattform bietet sowohl die tägliche Sicherung kompletter Server als auch ein agentenbasiertes Backup für Files und Applikationen
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-platform" id="platform-management">
                    <div class="products-platform__header">
                        <h2 class="products-platform__title">
                            Management-Tools
                        </h2>
                        <div class="products-platform__text">
                            Im Xelon HQ sind eure Daten sicher: Xelon HQ erfüllt höchste SecurityStandards und bietet regelmässige Backups
                        </div>
                    </div>
                    <div class="products-platform__features products-platform__features--col-3">
                        <a href="#" class="products-feature products-feature--link">
                            <img src="img/icon/arrow-up-right.svg" alt="" class="products-feature__arrow">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-persistent-storage.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Persistent Storage
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Dank Persistent Storage werden eure Daten und Systeme in unserer Cloud-Infrastruktur auch bei Strom- oder  Internetausfällen gespeichert. So verliert ihr keine wertvollen Arbeitsfortschritte
                            </div>
                        </a>
                        <a href="#" class="products-feature products-feature--link">
                            <img src="img/icon/arrow-up-right.svg" alt="" class="products-feature__arrow">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-block-storage.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Block Storage
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Im Xelon HQ werden eure Daten in Blöcke aufgeteilt und separat gespeichert (Block Storage). Dies vereinfacht die Verwaltung sowie Konfiguration und erleichtert den Arbeitsalltag von ITDienstleistern
                            </div>
                        </a>
                        <div class="products-feature">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-backup-snapshots.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Backup & Snapshots
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Erstellt im Xelon HQ jederzeit Backups und Snapshots. Unsere Cloud-Plattform bietet sowohl die tägliche Sicherung kompletter Server als auch ein agentenbasiertes Backup für Files und Applikationen
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-platform" id="platform-isolation">
                    <div class="products-platform__header">
                        <h2 class="products-platform__title">
                            Isolation
                        </h2>
                        <div class="products-platform__text">
                            Im Xelon HQ sind eure Daten sicher: Xelon HQ erfüllt höchste SecurityStandards und bietet regelmässige Backups
                        </div>
                    </div>
                    <div class="products-platform__features products-platform__features--col-3">
                        <a href="#" class="products-feature products-feature--link">
                            <img src="img/icon/arrow-up-right.svg" alt="" class="products-feature__arrow">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-persistent-storage.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Persistent Storage
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Dank Persistent Storage werden eure Daten und Systeme in unserer Cloud-Infrastruktur auch bei Strom- oder  Internetausfällen gespeichert. So verliert ihr keine wertvollen Arbeitsfortschritte
                            </div>
                        </a>
                        <a href="#" class="products-feature products-feature--link">
                            <img src="img/icon/arrow-up-right.svg" alt="" class="products-feature__arrow">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-block-storage.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Block Storage
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Im Xelon HQ werden eure Daten in Blöcke aufgeteilt und separat gespeichert (Block Storage). Dies vereinfacht die Verwaltung sowie Konfiguration und erleichtert den Arbeitsalltag von ITDienstleistern
                            </div>
                        </a>
                        <div class="products-feature">
                            <div class="products-feature__header">
                                <img src="img/icon/platform-backup-snapshots.svg" alt="" class="products-feature__icon">
                                <div class="products-feature__title">
                                    Backup & Snapshots
                                </div>
                            </div>
                            <div class="products-feature__text">
                                Erstellt im Xelon HQ jederzeit Backups und Snapshots. Unsere Cloud-Plattform bietet sowohl die tägliche Sicherung kompletter Server als auch ein agentenbasiertes Backup für Files und Applikationen
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>