<section class="products-review">
	<div class="xln-container">
        <div class="products-review__wrapper">
            <div class="products-review__text">
                “Unsere Kunden und das ganze Team sind sehr begeistert, wie&nbsp;einfach und schnell dieses Projekt umgesetzt wurde."
            </div>
            <div class="products-review__author">
                <div class="products-review__author-photo">
                    <img src="img/base/review-author.jpg" alt="">
                </div>
                <div class="products-review__author-info">
                    <div class="products-review__author-name">
                        Miro Hegnauer
                    </div>
                    <div class="products-review__author-post">
                        CEO, Konova AG
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>