.products-platforms {
  padding: 120px 0;

  &__title {
    margin-bottom: 60px;
    text-align: center;
    font-weight: bold;

    @include media-up(md) {
      margin-bottom: 80px;
    }
  }

  &__wrapper {
    @include media-up(lg) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__content {
    @include media-up(lg) {
      flex: 1 1 0;
    }
  }
}

.products-platforms-nav {
  position: relative;
  height: 64px;
  margin: 0 -20px 40px;

  @include media-up(md) {
    margin: 0 -30px 40px;    
  }

  @include media-up(lg) {
    position: sticky !important;
    top: 30px;
    width: 290px;
    height: auto;
    margin: 0;
    margin-right: 42px;
    transition: transform .5s;

    .nav-show &.fixed {
      transform: translateY(80px);
    }
  }

  &__wrapper {
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
    transition: box-shadow .25s;

    @include media-up(lg) {
      position: unset !important;
      box-shadow: none !important;
    }

    .products-platforms-nav.fixed & {
      position: fixed;
      z-index: 100;
      box-shadow: $shadow;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background: var(--xln-bg);
    
    @include media-up(lg) {
      display: none;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
  }

  &__btn {
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid var(--xln-main);
    border-radius: 8px;
    background: none;

    img {
      position: absolute;
      left: 3px;
      top: 3px;
      width: 24px;
      height: 24px;
      transition: transform .25s;

      &:last-child {
        opacity: 0;
      }
    }

    &.active img {
      transform: rotate(180deg);

      &:first-child {
        opacity: 0;
      }
      &:last-child {
        opacity: 1;
      }
    }
  }

  &__list {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s;

    @include media-up(lg) {
      max-height: unset;
      overflow: unset;
      transition: none;
    }
  }

  &__item {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: var(--xln-bg);
    font-weight: bold;
    transition: .25s;

    &.active {
      background: #fff;
      color: var(--xln-main);

      svg {
        margin-left: 10px;
        color: inherit;
      }
    }

    @include media-up(md) {
      padding: 0 30px;
    }

    @include media-up(lg) {
      height: 56px;
      padding: 0 16px;
      background: none;
      border-radius: 8px;

      &:hover,
      &.active {
        background: var(--xln-bg);
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    svg {
      width: 32px;
      margin-left: 10px;
      color: var(--xln-slider-arrow);
    }
  }
}

.products-platform {
  &:not(:last-child) {
    margin-bottom: 60px;

    @include media-up(md) {
      margin-bottom: 100px;
    }

    @include media-up(lg) {
      margin-bottom: 120px;
    }
  }

  &__header {
    margin-bottom: 20px;

    @include media-up(md) {
      margin-bottom: 40px;
    }
  }

  &__title {
    position: relative;
    padding-bottom: 12px !important;
    margin-bottom: 12px;

    @include media-up(md) {
      padding-bottom: 20px !important;
      margin-bottom: 20px;
    }
    
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 60px;
      height: 1px;
      background: var(--xln-main);

      @include media-up(md) {
        width: 108px;
      }
    }
  }

  &__text {
    color: var(--xln-light);

    @include media-up(md) {
      max-width: 610px;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
    }
  }

  &__features {
    display: grid;
    grid-gap: 12px;

    @include media-up(md) {
      grid-gap: 20px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include media-up(xl) {
      &--col-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
}

.products-feature {
  position: relative;
  padding: 20px;
  border: 1px solid var(--xln-bg);
  border-radius: 8px;

  @include media-up(lg) {
    padding: 32px;
  }

  &--link {
    border-color: #DBEAF8;
    transition: .25s;

    &:hover {
      box-shadow: 0px 8px 20px #EBEEFA;

      .products-feature__arrow {
        transform: translateY(0);
        opacity: 1;
      }

      .products-feature__title {
        color: var(--xln-main);
      }
    }
  }

  &__arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    opacity: 0;
    transform: translateY(5px);
    transition: .25s;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin-right: 12px;

    @include media-up(md) {
      width: 60px;
      height: 60px;
      margin-right: 16px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    transition: .25s;

    @include media-up(md) {
      font-size: 20px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    color: var(--xln-light);

    @include media-up(md) {
      font-weight: normal;
      font-size: 16px;
    }
  }
}