.xln-single-content {
  p, h2, h3, h4 {
    margin-bottom: 20px;
  }

  h2, h3, h4 {
    b, strong {
      font-weight: 600;
    }
  }

  .wp-block-group {
    margin-bottom: 20px;
  }

  .blocks-gallery-grid {
    margin: 0;
    padding: 0;
  }

  img {
    height: auto;
    border-radius: 0.3rem;
    margin-bottom: 20px;
  }
}