.xln-about {
  padding: 50px 0;

  @include media-up(md) {
    padding: 120px 0;
  }

  &__main {
    text-align: center;
    margin-bottom: 40px;

    @include media-up(md) {
      max-width: 840px;
      margin: 0 auto 60px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    color: var(--xln-light);

    @include media-up(md) {
      font-size: 18px;
    }
  }

  &__slider-item {
    border-radius: 8px;
    overflow: hidden;
  
    @include media-up(md) {
      border-radius: 16px;
    }

    &-wrap {
      position: relative;
      width: 100%;
      padding-top: 100%;
    }
  
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}