.xln-banner {
  color: inherit;
  background: none;
  padding: 30px 0;

  @include media-up(md) {
    padding: 40px;
  }

  @include media-up(lg) {
    padding: 120px 0 70px;
  }
}

.xln-banner__container {
  position: relative;
}

.xln-banner__wrapper {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  @include media-up(lg) {
    flex-direction: row;
    align-items: center;
  }
}

.xln-banner__content {
  display: flex;
  flex-direction: column;

  @include media-up(lg) {
    width: 51%;
    margin-right: 50px;
    margin-bottom: 30px;
  }
}

.xln-banner__main {
  margin-bottom: 20px;

  @include media-up(md) {
    margin-bottom: 40px;
  }

  @include media-up(lg) {
    margin-bottom: 60px;
  }
}

.xln-banner__title {
  margin-bottom: 16px;

  @include media-up(md) {
    margin-bottom: 32px;
  }
}

.xln-banner__title span {
  color: var(--xln-main);
}

.xln-banner__text {
  color: var(--light);
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;

  @include media-up(md) {
    font-size: 16px;
    max-width: 455px;
    margin-bottom: 32px;
  }
}

.xln-banner__form {
  @include media-up(lg) {
    max-width: 550px;
  }
}

.xln-banner__media {
  margin-bottom: 30px;
  text-align: center;

  @include media-up(lg) {
    flex: 1 1 0;
  }
}

.xln-banner__img {
  max-width: 100%;
}
