.xln-customers {
    background-color: var(--xln-bg);
    padding: 40px 0 60px;

    @include media-up(lg) {
        padding: 100px 0;
    }
}

.xln-customers__title {
    text-align: center;
    margin-bottom: 30px;

    @include media-up(lg) {
        margin-bottom: 60px;
    }
}

.xln-customers__content {
    position: relative;
    padding: 16px 20px;
    background-color: var(--xln-light);

    @include media-up(md) {
        padding: 40px 20px;
    }
}

.xln-customers__slider-arrows {
    display: none;

    @include media-up(lg) {
        display: block;
        left: 20px;
        right: 20px;
    }
}

.xln-customers__slider-wrapper {
    margin: 0 auto;

    @include media-up(lg) {
        padding: 0 40px;
    }
}

.xln-customers__slider {
    @include media-up(md) {
        display: flex;
    }
}

.xln-customers__slider-items {
    @include media-up(md) {
        display: flex !important;
        justify-content: space-around;
    }
}

.xln-customers__slider-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 24px;
    padding: 0 10px;

    @include media-up(md) {
        height: 80px;
        padding: 0 30px;
    }

    &:first-child {
        margin-bottom: 20px;

        @include media-up(md) {
            margin-bottom: 0;
        }
    }
}

.xln-customers__logo {
    max-width: 100%;
    max-height: 100%;

    &:first-child {
        display: none;
    }

    @include media-up(md) {
        &:first-child {
            display: block;
        }
    
        &:last-child {
            display: none;
        }
    
        .xln-customers__slider-item:hover & {
            &:first-child {
                display: none;
            }
    
            &:last-child {
                display: block;
            }
        }
    }
}

.xln-customers__slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    @include media-up(md) {
        margin-top: 40px;
    }
}