.xln-tools {
    background-color: var(--xln-light);
    padding-top: 30px;
    overflow: unset;

    @include media-up(md) {
        padding-top: 50px;
    }

    @include media-up(lg) {
        padding-top: 70px;
    }

    .xln-content {
        max-width: unset;
    }
}

h2.xln-tools__title {
    @include media-down(sm) {
        flex-direction: column-reverse;
        align-items: center;        
    }

    img {        
        width: 32px;
        height: 32px;

        @include media-down(sm) {
            margin-bottom: 12px;
        }
    
        @include media-up(md) {
            width: 40px;
            height: 40px;
        }
    }
}

.xln-tools__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-up(md) {
        margin: -20px -40px -40px;
    }
}

.xln-tool {
    display: flex;
    background-color: var(--xln-light);
    box-shadow: 0px 8px 20px var(--xln-gray);
    border-radius: 8px;
    width: 100%;
    padding: 20px;

    @include media-down(sm) {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    @include media-up(md) {
        width: 330px;
        padding: 25px;
        margin: 20px;
    }

    @include media-up(lg) {
        width: 400px;
    }
}

.xln-tool__icon {
    margin-right: 10px;

    @include media-up(md) {
        margin-right: 20px;
    }
}

h4.xln-tool__title {
    color: var(--xln-main);
}

.xln-tool__text {
    margin-top: 10px;
    font-size: 16px;
    word-break: break-word;
}

.xln-tool__icon {
    width: 40px;
    height: 40px;

    @include media-up(lg) {
        width: 60px;
        height: 60px;
    }
}