.xln-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 48px;
    background: none;
    border-radius: 4px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 1;
    color: var(--xln-light);
    background-color: var(--xln-main);
    transition: 0.2s ease-in-out;
    text-align: center;
    text-decoration: none !important;
    white-space: unset;

    @include media-up(md) {
        display: inline-flex;
        width: auto;
        padding: 8px 24px;
    }

    &:hover {
        background-color: var(--xln-main-hover);
    }

    &:active {
        background-color: var(--xln-main-active);
    }

    &:disabled {
        background-color: var(--xln-main-disabled);
    }

    svg {
        margin-left: 15px;
    }
}

.xln-button--white {
    color: var(--xln-main);
    background-color: var(--xln-light);
    border: 1px solid var(--xln-main);

    &:hover {
        color: var(--xln-main-hover);
        background-color: var(--xln-light);
        border-color: var(--xln-main-hover);
    }

    &:active {
        color: var(--xln-main-active);
        background-color: var(--xln-light);
        border-color: var(--xln-main-active);
    }

    &:disabled {
        color: var(--xln-main-disabled);
        background-color: var(--xln-light);
        border-color: var(--xln-main-disabled);
    }

    &.xln-button--big {
        border: 0;

        &:hover {
            color: var(--xln-light);
            background-color: #68E1C7;
        }

        &:active {
            color: var(--xln-light);
            background-color: #18CDBE;
        }

        &:disabled {
            color: var(--xln-light);
            background-color: #D9E1EE;
        }        
    }
}

.xln-button--green {
    background-color: var(--xln-green);

    &:hover {
        background-color: var(--xln-green-hover);
    }

    &:active {
        background-color: var(--xln-green-active);
    }
}

.xln-button--opacity {
    color: var(--xln-main);
    background-color: var(--xln-light);

    &:hover {
        color: var(--xln-main-hover);
        background-color: var(--xln-light);
    }

    &:active {
        color: var(--xln-main-active);
        background-color: var(--xln-light);
    }

    &:disabled {
        color: var(--xln-main-disabled);
        background-color: var(--xln-light);
    }
}

.xln-button--big {
    font-size: 18px;
    height: 60px;

    @include media-up(md) {
        padding: 8px 32px;
    }
}