.xln-content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;

    @include media-up(md) {
        margin-bottom: 60px;
    }

    h1, h2 {
        margin-bottom: 20px;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 28px;
            height: 28px;
            margin: 0 8px;
        
            @include media-up(md) {
                margin: 0 16px;
                width: 32px;
                height: 32px;
            }
        }
    }

    p {
        font-size: 14px;
        font-weight: 500;
        color: var(--light);

        @include media-up(md) {
            font-size: 18px;
            font-weight: normal;
        }
    }
}