.xln-content-box {
    background-color: var(--xln-main);
    margin: 0 auto;
    color: var(--xln-light);
    padding: 40px;

    @include media-up(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        max-width: 1160px;
        border-radius: 8px;
    }

    @include media-up(lg) {
        flex-direction: row;
        padding: 50px 60px;
    }

    .xln-button {
        flex-shrink: 0;
    }
}

.xln-content-box__text {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 20px;

    @include media-up(lg) {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 0;
        margin-right: 25px;
        max-width: 700px;        
    }
}