.email-form {
  margin: -6px 0 0;
  padding-bottom: 5px;

  @include media-up(md) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -16px 0;
  }

  &__box {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .form-input {
    @include media-up(md) {
      border-radius: 4px 0 0 4px;
    }
  }

  .xln-button {
    margin-bottom: 20px;

    @include media-up(md) {
      flex-shrink: 0;
      min-width: 150px;
      padding: 8px 34px;
      margin: 16px 0;
      font-size: 18px;
      border-radius: 0px 4px 4px 0px;
    }
  }

  &--blue {
    a.xln-button {
      border: 1px solid #fff;
    }
  }

  input:focus~.form-label,
  input.not-empty~.form-label {
    color: #fff !important;
  }

  .msg {
    color: #fff !important;
  }
}
