.xln-info-block {  
  &__wrapper {
    display: grid;
    grid-gap: 30px;
    background: var(--xln-main);
    color: #fff;
    border-radius: 8px;
    padding: 40px 20px;

    @include media-up(md) {
      padding: 40px;
    }

    @include media-up(lg) {
      grid-template-columns: 57% 1fr;
      grid-gap: 40px;
      align-items: center;
    }

    @include media-up(xl) {
      grid-template-columns: 1fr 1fr;
      padding: 60px 70px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__buttons {
    display: grid;
    grid-gap: 20px;

    @include media-up(xl) {
      grid-template-columns: auto auto;
    }

    .xln-button {
      width: 100%;

      @include media-up(xl) {
        height: 60px;
      }
    }
  }

  &__form {
    .email-form {
      @include media-down(lg) {
        display: block;
      }
    }
    
    .form-input {
      @include media-down(lg) {
        border-radius: 4px;
      }
    }

    .xln-button {
      @include media-down(lg) {
        width: 100%;
        margin: 0 0 12px;
        border-radius: 4px;
      }
    }

    .checkboks {
      margin: 12px 0 0;

      &-text {
        color: var(--xln-white) !important;

        a {
          color: #fff;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: var(--gray-2);
          }
        }
      }
    }

    .custom-sq input:checked~label:before {
      color: var(--xln-main);
      background: #fff;
    }
  }
}