#modal-contact {
  max-width: 620px;

  .form-block .msg {
    display: none;

    &-show {
      display: block;
    }
  }
}

#modal-signup {
  @include media-up(md) {
    width: 95%;
    max-width: 800px;
    
    .modal-header,
    .modal-text {
      text-align: left;
      color: var(--light);
      margin-top: 12px;
    }

    .modal-area {
      padding-left: 20px;
    }
  }
}

.modal-wrapper {
  @include media-down(sm) {
    padding: 40px 20px;

    .modal-area {
      padding: 0;
    }
  }

  @include media-up(md) {
    display: flex;
    align-items: center;
  }
}

#modal-thanks .send-modal-data {
  padding: 0;
}

.modal-img {
  margin-bottom: 20px;
  height: 200px;
  display: flex;
  justify-content: center;

  @include media-up(md) {
    flex: 1 1 0;
    padding: 20px 20px 0 20px;
    margin-bottom: 0;
    height: auto;
  }

  img {
    max-height: 100%;
    max-width: 100%;

    @include media-up(md) {
      width: 100%;
    }
  }
}

.modal-area {
  padding: 40px 20px;

  @include media-up(md) {
    padding: 40px;
  }
}

.modal-header {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}

.modal-text {
  text-align: center;
  color: var(--light);
  margin-top: 12px;

  @include media-down(sm) {
    br {
      display: none;
    }
  }
}

.modal-form {
  margin-top: 20px;
}

.white-popup {
  overflow: hidden;

  button.mfp-close {
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background: none;
    border-radius: 0;
    border: 0;
    font-size: 0;
    background: url(img/icon/close.svg) center no-repeat;
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 12px;
      top: 21px;
      display: block;
      width: 20px;
      height: 2px;
      border-radius: 2px;
      background: var(--gray-2);
      transition: .2s;
    }
  
    &:before {
      transform: rotate(45deg);
    }
  
    &:after {
      transform: rotate(-45deg);
    }
  
    &:hover {
  
      &:before,
      &:after {
        background: var(--black);
      }
    }
  }
  
  .checkboks-text span {
    color: var(--light) !important;
    padding-left: 0 !important;
  }

  .xln-button {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
  }
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .xln-button {
    width: auto;
    margin: 0;
  }
}

.modal-footer-text {
  text-align: center;
  margin-top: 20px;

  a {
    font-weight: bold;
    margin-left: 5px;
    @include xln-link-blue;
  }
}

.modal-signups {
  margin-top: 20px;
}
