.xln-pagination {
  display: grid;
  gap: 5px;
  max-width: 450px;
  grid-template-columns: auto 1fr auto;
}

.xln-pagination__arrow {
  @include arrow;
}

.xln-pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.xln-pagination__item:not(:last-child) {
  margin-right: 5px;
}

.xln-pagination__page {
  display: block;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--xln-bg);
  }
}

.xln-pagination__dots {
  display: block;
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.xln-pagination__page.xln-active {
  background-color: var(--xln-main);
  color: var(--xln-white);
}
