.swiper-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    height: 40px;

    @include media-up(md) {
        margin-top: 60px;
    }
}

.swiper-arrow {
    width: 40px;
    height: 40px;
    color: var(--xln-slider-arrow);
    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--xln-main);
    }
}

.swiper-pagination {
    position: unset !important;
    width: auto !important;

    &-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--xln-main);
        transition: opacity 0.2s;
        margin: 0 8px !important;
        opacity: 0.3;

        &-active {
            opacity: 1;
        }
    }
}