h2.xln-title--h2 {
    font-weight: 600;
    font-size: 20px;
    color: var(--xln-dark);

    @include media-up(md) {
        font-size: 32px;
    }
}

h3.xln-title--h3 {
    font-weight: 600;
    font-size: 16px;
    color: var(--xln-main);

    @include media-up(md) {
        font-size: 20px;
    }
}

h4.xln-title--h4 {
    font-weight: 600;
    font-size: 16px;
}