<footer class="footer">
    <div class="footer__container container">
        <div class="footer__wrapper">
            <div class="footer__left">
                <div class="footer__main">
                    <div class="footer__logo">
                        <a href="/" class="go-to-home">
                            <img src="img/footer-logo.svg" width="104" height="32" alt="logo">
                        </a>
                    </div>
                    <div class="footer__menu">
                        <div class="footer__menu-item">
                            <div class="footer__menu-header">
                                Lösungen
                            </div>
                            <ul class="footer__menu-list">
                                <li><a href="#">Kubernetes</a></li>
                                <li><a href="#">Public & Private Cloud</a></li>
                                <li><a href="#">Managed Services</a></li>
                                <li><a href="#">Dedicated Server</a></li>
                                <li><a href="#">Cloud Backup</a></li>
                            </ul>
                        </div>
                        <div class="footer__menu-item">
                            <div class="footer__menu-header">
                                Community
                            </div>
                            <ul class="footer__menu-list">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Knowledge Base</a></li>
                                <li><a href="#">Xelon Docs</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                        <div class="footer__menu-item">
                            <div class="footer__menu-header">
                                Über Xelon
                            </div>
                            <ul class="footer__menu-list">
                                <li><a href="#">Über Xelon</a></li>
                                <li><a href="#">Partner Locator</a></li>
                                <li><a href="#">Kontakt</a></li>
                                <li><a href="#">Kariere</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__socials socials">
                    <a href="https://www.instagram.com/xelon_ag" class="socials__link" target="_blank">
                        <svg width="24" height="24">
                            <use xlink:href="#social-instagram"></use>
                        </svg>
                    </a>
                    <a href="https://www.facebook.com/xelonhosting" class="socials__link" target="_blank">
                        <svg width="24" height="24">
                            <use xlink:href="#social-facebook"></use>
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/company/xelon-hosting-solutions" class="socials__link"
                        target="_blank">
                        <svg width="24" height="24">
                            <use xlink:href="#social-linkedin"></use>
                        </svg>
                    </a>
                    <a href="https://twitter.com/xelonhosting" class="socials__link" target="_blank">
                        <svg width="24" height="24">
                            <use xlink:href="#social-twitter"></use>
                        </svg>
                    </a>
                    <a href="https://www.youtube.com/channel/UCl4tXLj2CgesOpYrPzM0Ehg" class="socials__link"
                        target="_blank">
                        <svg width="24" height="24">
                            <use xlink:href="#social-youtube"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__copyright">
                    © Xelon AG, 2021. All rights reserved.
                </div>
            </div>

            <div class="footer__right">
                <div class="footer__header">
                    Wir freuen uns auf Ihre Kontaktaufnahme
                </div>
                <div class="footer__contacts">
                    <div class="footer__contacts-item">
                        <svg width="20" height="20">
                            <use xlink:href="#footer-map"></use>
                        </svg>
                        Xelon AG, Poststrasse 15, 6300 Zug, Switzerland
                    </div>
                    <div class="footer__contacts-item">
                        <svg width="20" height="20">
                            <use xlink:href="#footer-phone"></use>
                        </svg>
                        <a href="tel:+41 41 552 28 50">+41 41 552 28 50</a>
                    </div>
                    <div class="footer__contacts-item">
                        <svg width="20" height="20">
                            <use xlink:href="#footer-mail"></use>
                        </svg>
                        <a href="mailto:contact@xelon.ch">contact@xelon.ch</a>
                    </div>
                </div>
                <div class="get-touch-area d-flex">
                    <div class="send-form d-flex">
                        <form id="contact-form" method="POST" class="d-flex form footer-form">
                            <input type="hidden" name="userCID" value="GA1.2.2126552388.1611923589">
                            <input type="hidden" name="pageUrl" value="http://xelon.one-pix.com/redesign-page/">
                            <input type="text" class="simple-input" id="name" name="name" placeholder="Name">
                            <input type="text" class="simple-input" id="emails" name="email" placeholder="Email">
                            <textarea class="quession-input" id="msg" name="msg" placeholder="Ihre Frage"></textarea>
                            <div class="checkboks custom-sq">
                                <input type="checkbox" class="checked-checkbox" name="myCheckboxes" id="box1"
                                    checked="checked" value="true">
                                <label for="box1" class="checkboks-text">
                                    Ich stimme der Verarbeitung meiner personenbezogenen Daten zu und habe die
                                    <a href="https://xelon.one-pix.com/data-protection/">Datenschutzerklärung</a>
                                    gelesen und akzeptiere sie.
                                </label>
                            </div>
                            <div class="send-success-zone d-flex align-center">
                                <button type="submit" class="xln-button submit">Senden</button>
                                <div class="sucmsg1"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Contact Modal -->
<div id="modal-contact" class="white-popup mfp-hide">
    <div class="modal-area d-flex">
        <div class="modal-header">Kontaktformular</div>
        <form class="modal-form" id="modal-form" method="POST">
            <input type="hidden" name="userCID" value="" class="not-empty">
            <input type="hidden" name="pageUrl" value="" class="not-empty">
            <div class="form-block">
                <input type="text" name="fullname" id="fullname" class="form-input" placeholder="Vorname und Name*" required>
                <label class="form-label" for="fullname">Vorname und Name*</label>
                <div class="msg"></div>
            </div>
            <div class="form-block">
                <input type="text" class="form-input" name="modalEmail" id="modalEmail" placeholder="Email*" required>
                <label class="form-label" for="modalEmail">Email*</label>
                <div class="msg"></div>
            </div>
            <div class="form-block">
                <input type="text" class="form-input" name="company" id="company" placeholder="Firma">
                <label class="form-label" for="company">Firma</label>
            </div>
            <div class="form-block">
                <textarea class="form-input" cols="40" rows="10" name="modalMsg" id="modalMsg" placeholder=""></textarea>
                <label class="form-label" for="modalMsg"></label>
            </div>
            <div class="checkboks custom-sq">
                <input type="checkbox" id="box6" name="modalCheckboks2" class="checked-checkbox"
                    checked="checked" value="">
                <label for="box6" class="checkboks-text d-flex align-center">
                    Ich stimme der Verarbeitung meiner personenbezogenen Daten zu und habe die 
                    <a href="https://xelon.one-pix.com/data-protection/" target="_blank" rel="noopener">
                       Datenschutzerklärung
                    </a>
                    gelesen und akzeptiere sie.
                </label>
            </div>
            <div class="modal-footer">
                <button type="submit" class="xln-button modal-submit">Nachricht senden</button>
            </div>
        </form>
    </div>
</div>

<!-- Sign Up Modal -->
<div id="modal-signup" class="white-popup mfp-hide">
    <div class="modal-area d-flex">
        <div class="modal-header">
            Konto erstellen
        </div>
        <div class="modal-text">
            und kostenlose Guthaben erhalten!
        </div>
        <form class="modal-form" method="POST" id="form-popup">
            <div class="form-block">
                <input type="text" id="send_email" name="subscribe-email" class="form-input" placeholder="Email*" required="required">
                <label for="send_email" class="form-label">Email*</label>
                <div class="msg"></div>
            </div>
            <input type="submit" name="subscribe-form" id="vdc-send-modal" class="xln-button send-subscribe" value="Jetzt starten!">
        </form>
        <div class="modal-signups">
            <div class="signups-title">
                <span>oder registrieren Sie sich mit</span>
            </div>
            <div class="signups">
                <a href="#" class="signup">
                    <img src="img/icon/google.svg" alt="">
                    <span>Google</span>
                </a>
                <a href="#" class="signup">
                    <img src="img/icon/github.svg" alt="">
                    <span>GitHub</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Thanks Modal -->
<div id="modal-thanks" class="white-popup mfp-hide">
    <div class="modal-area d-flex">
        <div class="modal-header">
            Vielen Dank!
        </div>
        <div class="modal-text">
            Ihre Nachricht wurde gesendet!<br>
            Wir melden uns bald
        </div>
        <form method="POST">
            <input type="submit" name="subscribe-form" class="xln-button send-subscribe" value="Zur Webseite">
        </form>
    </div>
</div>

<script src="js/app.bundle.js"></script>
</body>
</html>