<section class="xln-subscribe">
    <div class="xln-container">
        <div class="xln-info-block__wrapper">
            <div class="xln-info-block__main">
                <h3 class="xln-info-block__title">
                    Newsletter abonnieren!
                </h3>
                <div class="xln-info-block__text">
                    Verpasse keine unserer IT-Blogs und erfahre als<br> erster über Neuigkeiten oder Angebote von Xelon.
                </div>
            </div>
            <div class="xln-info-block__form">
                <form id="subs-form" class="email-form email-form--white">
                    <div class="email-form__box">
                        <div class="form-block form-block--big  ">
                            <input type="email" name="email" placeholder="Email*" class="form-input">
                            <label class="form-label">Your Email</label>
                            <div class="msg"></div>
                        </div>
                        <input type="submit" class="xln-button xln-button--green" value="Send">
                    </div>
                    <div class="checkboks custom-sq">
                        <input type="checkbox" class="checked-checkbox" name="myCheckboxes" id="box10"
                            checked="checked" value="true">
                        <label for="box10" class="checkboks-text">
                            Ich stimme der Verarbeitung meiner personenbezogenen Daten zu und habe die
                            <a href="https://xelon.one-pix.com/data-protection/">Datenschutzerklärung</a>
                            gelesen und akzeptiere sie.
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>