<div class="xln-single-container">
    <div class="xln-single-main">
        <div class="xln-single-author-bar">
            <div class="xln-single-author-bar__item">
                Author:
                <a href="#">Michael Dudli</a>
            </div>

            <div class="xln-single-author-bar__item">
                Category:
                <span class="xln-single-author-bar__cats">
                    <a href="#">Blog</a>
                    <a href="#">Cyber</a>
                </span>
            </div>

            <div class="xln-single-author-bar__item">
                January 05, 2021
            </div>
        </div>

        <div class="xln-single-content content">
            <p><strong>Spannende neue Projekte, Teamzuwachs und Ausbau unserer Cloud-Plattform: Xelon wächst jedes Jahr massiv. Nun beziehen wir ein neues Büro im Zentrum der Stadt Zug und legen so die Grundlage für weiteres Wachstum. Bei der Planung der Arbeitsplätze wurden die Präferenzen der Mitarbeitenden berücksichtigt. Das neue Xelon-Büro soll in erster Linie als Raum für kreative Begegnungen fungieren.</strong></p>
            <p>Aktuell hat Xelon rund 25 Mitarbeitende und aufgrund neuer Projekte und Lösungen werden zusätzliche Talente zur Verstärkung der <a href="https://xelon.one-pix.com/position/cloud-engineer-linux-containers/" data-wpel-link="internal">Cloud-Engineer</a>-, <a href="https://xelon.one-pix.com/position/cloud-infrastructure-engineer-vmware-veeam/" data-wpel-link="internal">Operations</a>– sowie <a href="https://xelon.one-pix.com/position/inside-sales-iaas-paas/" data-wpel-link="internal">Business-Development</a>-Teams gesucht. Xelon ist somit den Büroräumlichkeiten in der Schochenmühle in Baar endgültig entwachsen. Um die Grundlage für nachhaltiges Wachstum zu legen, beziehen wir im Mai 2021 ein modernes Büro im Herzen der Stadt Zug. Nach Ende der Homeoffice-Zeit werden wir von der Poststrasse 15 in Zug aus das Management der IT-Infrastruktur von Schweizer KMU, internationalen Start-ups und Enterprise-Kunden vereinfachen.</p>
            <p>Bei unserer Befragung zum Thema Arbeitsplatzgestaltung kam heraus, dass sich viele Xelon-Mitarbeitende darauf freuen, ins Büro zurückkehren zu dürfen und sich wieder persönlich austauschen zu können. «Wir können es kaum erwarten, ins neue Büro einzuziehen und in der kreativen Begegnungszone gemeinsam Ideen zu entwickeln. Ebenso freuen wir uns beim informellen Austausch Projekte mit teilweise unerwarteten Lösungen voranzutreiben und den Teamgeist beim Töggele oder einer Runde Zocken zu stärken», sagt Partner &amp; Head of Business Development Simon Kilchmann, der massgeblich an der Gestaltung der neuen Arbeitsplätze beteiligt war.</p>
            <img src="img/base/blog-single-1.jpg" alt="">
            <h4 id="h-eher-ein-raum-f-r-inspirierende-begegnungen-als-ein-klassischer-arbeitsplatz"><strong>Eher ein Raum für inspirierende Begegnungen als ein klassischer Arbeitsplatz</strong></h4>
            <p>Für uns bedurfte es keiner Pandemie, um den Mitarbeitenden Flexibilität und ein Mitspracherecht bei der Gestaltung des Arbeitsortes zu ermöglichen. «Bei der Planung der neuen Büroräumlichkeiten hatten wir bereits berücksichtigt, dass viele Team-Mitglieder ab und zu im Homeoffice arbeiten werden. Das Büro in unserem Fall ist eher ein Raum für inspirierende Begegnungen und weniger ein klassischer Arbeitsplatz», fährt Simon Kilchmann fort.</p>
            <p>Der Umzug unterstreicht die Unternehmenskultur und Arbeitsphilosophie bei Xelon: «Uns ist es wichtig, dass alle Mitarbeitenden in einer Umgebung arbeiten können, in der sie produktiv und kreativ sein dürfen und sich weiterentwickeln können. Studien belegen, dass vor allem die neueren Generationen der Arbeitnehmer Flexibilität bei der Wahl ihres Arbeitsortes wertschätzen. Damit sind wir bisher sehr gut gefahren: Unser Team erbringt regelmässig Höchstleistungen und darum werden wir uns auch in Zukunft darum bemühen, dass alle Mitarbeitenden von dort aus arbeiten dürfen, wo sie sich wohlfühlen», so <a href="https://www.linkedin.com/in/michael-dudli-50859429/" data-wpel-link="external" target="_blank" rel="nofollow external noopener noreferrer">Xelon-CEO Michael Dudli.</a></p>
        </div>

        <div class="xln-single-author">
            <div class="xln-single-author__photo">
                <img src="img/base/review-author.jpg" alt="">
            </div>
            <div class="xln-single-author__info">
                <div class="xln-single-author__name">Michael Dudli</div>
                <div class="xln-single-author__post">CEO</div>
            </div>
            <a href="#" class="xln-single-author__link">
                All posts by Michael Dudli
                <svg width="14" height="14">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
    
    <div class="xln-single-aside">
        <div class="xln-single-share">
            <div class="xln-single-share__title">
                Feel free to Share:
            </div>
            <div class="xln-single-share__list" id="share"></div>
        </div>

        <div class="xln-single-banner">

        </div>
    </div>
</div>