<section class="xln-info-block">
    <div class="xln-info-block__wrapper">
        <div class="xln-info-block__main">
            <h3 class="xln-info-block__title">
                Subscribe to our monthly newsletter now!
            </h3>
            <div class="xln-info-block__text">
                Stay up to date! We will inform you whenever we publish<br> a new post from the Xelon, It or Business world
            </div>
        </div>
        <div class="xln-info-block__form">
            <div class="email-form">
                <div class="form-block form-block--big  ">
                    <input type="email" name="email" placeholder="Email*" class="form-input">
                    <label class="form-label">Your Email</label>
                    <div class="msg"></div>
                </div>
                <input type="submit" class="xln-button xln-button--green" value="Send">
            </div>
        </div>
    </div>
</section>