<section class="xln-about">
    <div class="xln-container">
        <div class="xln-about__main">
            <h2 class="xln-about__title">Das ist Xelon</h2>
            <div class="xln-about__text">
                Unsere Mission ist es, eine Cloud-Infrastruktur-Management-Plattform bereitzustellen, die Tech-Teams lieben. Wir möchten zu einer Welt beitragen, in der IT-Teams ihr volles Potenzial entfalten können und Geschäftsideen sowie strategische Expansionen schneller als je zuvor umsetzen.
            </div>
        </div>
        <div class="xln-about__slider swiper">
            <div class="swiper-wrapper">
                <div class="xln-about__slider-item swiper-slide">
                    <div class="xln-about__slider-item-wrap">
                        <img src="img/base/gallery-1.jpg" alt="">
                    </div>
                </div>
                <div class="xln-about__slider-item swiper-slide">
                    <div class="xln-about__slider-item-wrap">
                        <img src="img/base/gallery-2.jpg" alt="">
                    </div>
                </div>
                <div class="xln-about__slider-item swiper-slide">
                    <div class="xln-about__slider-item-wrap">
                        <img src="img/base/gallery-3.jpg" alt="">
                    </div>
                </div>
                <div class="xln-about__slider-item swiper-slide">
                    <div class="xln-about__slider-item-wrap">
                        <img src="img/base/gallery-4.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="swiper-nav">
                <button class="swiper-arrow swiper-arrow--prev">
                    <svg width='13px' height='22px'>
                        <use xlink:href='#arrow-left'></use>
                    </svg>
                </button>
                <div class="swiper-pagination"></div>
                <button class="swiper-arrow swiper-arrow--next">
                    <svg width='13px' height='22px'>
                        <use xlink:href='#arrow-right'></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>