<section class="xln-about">
    <div class="xln-container">
        <div class="xln-about__titles">
            <h3 class="xln-title--h3 xln-about__subtitle">
                Entdecken Sie unsere
            </h3>
            <h2 class="xln-title--h2 xln-about__title">
                Leistungsstarke Platform
            </h2>
        </div>
        <div class="xln-about__content">
            <div class="xln-about__items">
                <div class="xln-about-item">
                    <div class="xln-about-item__icon-wrapper">
                        <img src="img/icon/about-gear.png" alt="">
                    </div>
                    <h4 class="xln-about-item__title">
                        Betrieb und Skalierung
                    </h4>
                    <p class="xln-about-item__text">
                        Setzen Sie Ihre Anwendungen und Dienste innerhalb von Sekunden ein, indem Sie unsere Kubernetes-, Windows- und Linux-Rechenressourcen in der Public oder sogar Hybrid Cloud nutzen
                    </p>

                    <div class="xln-about-item__text">
                        <p>Setzen Sie Ihre Anwendungen und Dienste innerhalb von Sekunden ein, indem Sie unsere Kubernetes-, Windows- und Linux-Rechenressourcen in der Public oder sogar Hybrid Cloud nutzen</p>
                    </div>
                </div>
                <div class="xln-about-item">
                    <div class="xln-about-item__icon-wrapper">
                        <img src="img/svg-sprite/about-verified.svg" alt="">
                    </div>
                    <h4 class="xln-about-item__title">
                        Sicher, geschützt und compliant
                    </h4>
                    <p class="xln-about-item__text">
                        Segmentieren Sie Ihre Netzwerke, verwenden Sie Web Applikationen. Firewalls, Zugriffsregeln und Verschlüsselung, um Ihre Umgebung sicher zu machen
                    </p>
                </div>
                <div class="xln-about-item">
                    <div class="xln-about-item__icon-wrapper">
                        <img src="img/svg-sprite/about-stats.svg" alt="">
                    </div>
                    <h4 class="xln-about-item__title">
                        Verwalten und Überwachen
                    </h4>
                    <p class="xln-about-item__text">
                        Benutzer, Organisationen, Zugriff und Integrationen können granular eingestellt werden, um Ihre Richtlinien und Compliance-Anforderungen zu berücksichtigen
                    </p>
                </div>
            </div>
            <div class="xln-content-box xln-about__content-box">
                <p class="xln-content-box__text">
                    Wir machen das Leben von Developern, Devops und Sysadmins einfacher.
                    Mit der Xelon Plattform verwalten Sie Ihre Cloud-Workloads richitg
                </p>
                <a href="#modal-signup" class="xln-button xln-button--big xln-button--white open-popup-link">
                    Jetzt kostenlos anmelden
                </a>
            </div>
        </div>
    </div>
</section><!-- /.xln-about -->
