<section class="xln-banner">
	<div class="xln-container">
		<div class="xln-banner__wrapper">
            <div class="xln-banner__content">
                <div class="xln-banner__main">
                    <h1 class="xln-banner__title">
                        Run, scale and <span>simplify</span> your Swiss Cloud Infrastructure
                    </h1>
                    <p class="xln-banner__text">
                        Xelon HQ ermöglicht dir den smarten, sicheren und schnellen Betrieb deiner Cloud Applikationen und Workloads
                    </p>
                    <div class="xln-banner__imgs">
                        <img src="img/base/iso-1.png" alt="iso" class="xln-banner__attestat">
                        <img src="img/base/iso-2.png" alt="iso" class="xln-banner__attestat">
                    </div>
                </div>
                <div class="xln-banner-form">
                    <form action="#" class="xln-banner-form__form">
                        <div class="form-block">
                            <input type="email" name="email" id="email" placeholder="Email*" class="form-input">
                            <label for="email" class="form-label">Email*</label>
                            <div class="msg"></div>
                        </div>
                        <div class="xln-banner-form__footer">
                            <input type="submit" class="xln-button xln-button--green" value="Jetzt anmelden">
                            <div class="signups-title">
                                <span>Oder</span>
                            </div>
                            <div class="signups">
                                <a href="#" class="signup">
                                    <img src="img/icon/google.svg" alt="">
                                    <span>Google</span>
                                </a>
                                <a href="#" class="signup">
                                    <img src="img/icon/github.svg" alt="">
                                    <span>GitHub</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <a href="#" class="xln-banner__button xln-button xln-button--white" target="_blank">
                    Beratungsgespräch buchen
                </a>
            </div>
			<div class="xln-banner__media">
				<img src="img/base/xillustration.jpg" class="xln-banner__anim xln-banner__anim--mobile" alt="">
				<img src="img/base/xelon_animation.gif" class="xln-banner__anim xln-banner__anim--desktop" alt="">
			</div>
		</div>
	</div>
</section><!-- /.xln-banner -->
