<section class="xln-cases">
    <div class="xln-case">
        <div class="xln-case__container xln-container">
            <div class="xln-case__img">
                <img src="img/base/case-1.png" alt="">
            </div>
            <div class="xln-case__content">
                <div class="xln-case__subtitle">Einfach, SChnell und sicher </div>
                <h3 class="xln-case__title">Wir vereinfachen das Management der IT-Infrastruktur von IT-Dienstleistern</h3>
                <div class="xln-case__text">
                    Erstellt und betreibt eure eigenen Cloud-Infrastrukturen auf einer Schweizer Cloud-Management-Plattform. Dank dem einfachen, schnellen und sicheren Xelon HQ können IT-Dienstleister Kosten optimieren und Gewinne steigern.
                </div>
                <div class="xln-case__review xln-case-review">
                    <div class="xln-case-review__photo">
                        <img src="img/base/review-1-author.jpg" alt="">
                    </div>
                    <div class="xln-case-review__header">
                        <div class="xln-case-review__author">
                            <div class="xln-case-review__name">Andreas Schweizer</div>
                            <div class="xln-case-review__post">CEO, Diverto gmbh</div>
                        </div>
                        <div class="xln-case-review__company">
                            <img src="img/logos/diverto.svg" alt="">
                        </div>
                    </div>
                    <div class="xln-case-review__text">
                        "Unsere Kunden und das ganze Operations Team waren begeistert, wie einfach und schnell  das Projekt umgesetzt war. Wir würden jederzeit wieder mit Xelon starten, um Cloud Services in der Schweiz anzubieten."
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="xln-case">
        <div class="xln-case__container xln-container">
            <div class="xln-case__img">
                <img src="img/base/case-2.png" alt="">
            </div>
            <div class="xln-case__content">
                <div class="xln-case__subtitle">EffizienzsteigerunG FÜR it OPERATIONS </div>
                <h3 class="xln-case__title">Maximale Stabilität und garantierte Verfügbarkeit im täglichen IT Betrieb für euch und eure Kunden</h3>
                <div class="xln-case__text">
                    Vergesst die ressourcenintensive Verwaltung von redundanten Datacentern, Multi-Homing Netzwerken, Hardware Cluster und Virtualisierunglayern. Verwaltet Server und Backups über mehrere Datacenters hinweg verteilt per Mausklick. 
                </div>
                <div class="xln-case__review xln-case-review">
                    <div class="xln-case-review__photo">
                        <img src="img/base/review-2-author.jpg" alt="">
                    </div>
                    <div class="xln-case-review__header">
                        <div class="xln-case-review__author">
                            <div class="xln-case-review__name">Luca Franek</div>
                            <div class="xln-case-review__post">Bereichsleiter IT-Services, PMI.AG</div>
                        </div>
                        <div class="xln-case-review__company">
                            <img src="img/logos/pmi-ag.svg" alt="">
                        </div>
                    </div>
                    <div class="xln-case-review__text">
                        “Die Plattform von Xelon konnte neben dem hohen Funktionsumfang auch durch seine Kostentransparenz überzeugen. Die Planbarkeit der Ressourcen sowie der Kosten waren massgebend für die Umsetzung dieses Projektes.”
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="xln-case">
        <div class="xln-case__container xln-container">
            <div class="xln-case__img">
                <img src="img/base/case-3.png" alt="">
            </div>
            <div class="xln-case__content">
                <div class="xln-case__subtitle">MEHR ZEIT für Eure Techniker</div>
                <h3 class="xln-case__title">Baut innovative IT Services zielgerichtet für eure Kunden</h3>
                <div class="xln-case__text">
                    Ist eure IT-Infrastruktur in guten Händen, könnt ihr euch auf euer Kerngeschäft konzentrieren. Mit dem Xelon HQ behält ihr die volle Kontrolle über eure Serverinfrastruktur und Serverkosten, ohne euch mit Wartungsarbeiten herumschlagen zu müssen.
                </div>
                <div class="xln-case__review xln-case-review">
                    <div class="xln-case-review__photo">
                        <img src="img/base/review-3-author.jpg" alt="">
                    </div>
                    <div class="xln-case-review__header">
                        <div class="xln-case-review__author">
                            <div class="xln-case-review__name">Stephan Wyss</div>
                            <div class="xln-case-review__post">Head of Service Desk & Operations bei DQ Solutions</div>
                        </div>
                        <div class="xln-case-review__company">
                            <img src="img/logos/dq-solutions.svg" alt="">
                        </div>
                    </div>
                    <div class="xln-case-review__text">
                        “Die Migration der Maschinen war ein Kinderspiel! Wir müssen seither keine Hardware mehr betreuen und konnten unteranderem den Pikettdienst der Techniker reduzieren.”
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>