<section class="xln-certificates">
    <div class="xln-container">
        <h2 class="xln-certificates__title">
            Unsere Zertifizierungen
        </h2>
        <ul class="xln-certificates__list">
            <li class="xln-certificates__item">
                <img src="img/base/certificate-1.png" alt="">
            </li>
            <li class="xln-certificates__item">
                <img src="img/base/certificate-2.png" alt="">
            </li>
            <li class="xln-certificates__item">
                <img src="img/base/certificate-3.png" alt="">
            </li>
        </ul>
    </div>
</section>