<section class="xln-customers">
    <div class="xln-container">
        <h2 class="xln-customers__title">
            Die IT-Teams dieser Unternehmen vertrauen uns
        </h2>
        <div class="xln-customers__content">
            <div class="xln-customers__list">
                <div class="xln-customers__item">
                    <img src="img/logos/infoguard.svg" alt="">
                </div>
                <div class="xln-customers__item">
                    <img src="img/logos/nrj.svg" alt="">
                </div>
                <div class="xln-customers__item">
                    <img src="img/logos/dq-solutions.svg" alt="">
                </div>
                <div class="xln-customers__item">
                    <img src="img/logos/swiss.svg" alt="">
                </div>
                <div class="xln-customers__item">
                    <img src="img/logos/green.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section><!-- /.xln-customers -->
