<section class="xln-customers">
    <div class="xln-container">
        <h2 class="xln-customers__title">
            Die IT-Teams dieser Unternehmen vertrauen uns
        </h2>
        <div class="xln-customers__content">
            <div class="xln-customers__list">
                <div class="xln-customers__item">
                    <img src="img/base/customer-1.png" alt="">
                </div>
                <div class="xln-customers__item">
                    <img src="img/base/customer-2.png" alt="">
                </div>
                <div class="xln-customers__item">
                    <img src="img/base/customer-3.png" alt="">
                </div>
                <div class="xln-customers__item">
                    <img src="img/base/customer-4.png" alt="">
                </div>
                <div class="xln-customers__item">
                    <img src="img/base/customer-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section><!-- /.xln-customers -->
