<section class="xln-customers">
    <div class="xln-container">
        <h2 class="xln-customers__title xln-title--h2">
            Unere Kunden
        </h2>
        <div class="xln-customers__content">
            <div class="xln-customers__slider-arrows xln-slider-arrows">
                <button type="button" class="xln-slider-arrow xln-slider-arrow--prev xln-customers__slider--prev">
                    <svg width='30px' height='30px'>
                        <use xlink:href='#arrow-left'></use>
                    </svg>
                </button>
                <button type="button" class="xln-slider-arrow xln-slider-arrow--next xln-customers__slider--next">
                    <svg width='30px' height='30px'>
                        <use xlink:href='#arrow-right'></use>
                    </svg>
                </button>
            </div>
            <div class="xln-customers__slider-wrapper">
                <div class="xln-customers__slider">
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/topix-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/topix.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/stadt-zurich-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/stadt-zurich.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/swiss-infosec-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/swiss-infosec.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/h-plus-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/h-plus.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/allix-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/allix.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/ase-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/ase.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/audit-office-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/audit-office.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/diagnosdata-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/diagnosdata.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/diverto-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/diverto.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/dq-solutions-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/dq-solutions.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/gidor-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/gidor.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/head-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/head.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/huber_monsch-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/huber_monsch.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/jarowa-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/jarowa.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/manox-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/manox.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/nrj-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/nrj.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/pmi-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/pmi.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/qbits-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/qbits.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/seehalde-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/seehalde.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/slbmedia-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/slbmedia.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/softec-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/softec.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/teleinformatik-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/teleinformatik.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/web-elements-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/web-elements.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/pmi-ag-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/pmi-ag.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                    <div class="xln-customers__slider-items">
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/xinfra-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/xinfra.svg" alt="" class="xln-customers__logo">
                        </div>
                        <div class="xln-customers__slider-item">
                            <img src="img/logos/xplain-gray.svg" alt="" class="xln-customers__logo">
                            <img src="img/logos/xplain.svg" alt="" class="xln-customers__logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="xln-slider-nav xln-customers__slider-nav">
            <button class="xln-slider-nav-dot"></button>
            <button class="xln-slider-nav-dot"></button>
            <button class="xln-slider-nav-dot"></button>
            <button class="xln-slider-nav-dot"></button>
            <button class="xln-slider-nav-dot"></button>
            <button class="xln-slider-nav-dot"></button>
            <button class="xln-slider-nav-dot"></button>
        </nav>
    </div>
</section><!-- /.xln-customers -->
