<section class="xln-ebook">
    <div class="container">
        <div class="xln-ebook__wrapper">
            <div class="xln-ebook__img">
                <img src="img/base/e-book.png" alt="">
            </div>
            <div class="xln-ebook__content">
                <h3 class="xln-ebook__title">Das kleine Cloud-Einmaleins für IT-Dienstleister</h3>
                <div class="xln-ebook__text">
                    In diesem E-Book zeigen wir die Chancen von Cloud-Services für IT-Dienstleister auf.
                </div>
                <a href="#" class="xln-ebook__button xln-button xln-button--green">
                    Jetzt herunterladen
                </a>
            </div>
        </div>
    </div>
</section>