<section class="xln-get-started">
    <div class="xln-get-started__wrapper">
            <div class="xln-get-started__container xln-container">
            <div class="xln-get-started__img">
                <img src="img/base/browser.jpg" alt="">
            </div>
            <div class="xln-get-started__content">
                <h2 class="xln-get-started__title">Get started!</h2>
                <div class="xln-get-started__text">
                    <p>Schneller und einfacher Zugang zum Xelon HQ. Jetzt kostenlos testen!</p>
                </div>
                <form action="#" class="xln-get-started__form">
                    <div class="form-block">
                        <input type="email" name="email" id="email" placeholder="Email*" class="form-input">
                        <label for="email" class="form-label">Email*</label>
                        <div class="msg"></div>
                    </div>
                    <input type="submit" class="xln-button xln-button--green" value="Jetzt anmelden">
                </form>
                <div class="xln-get-started__signups">
                    <p>oder registriert euch sich mit</p>
                    <div class="signups">
                        <a href="#" class="signup">
                            <img src="img/icon/google.svg" alt="">
                            <span>Google</span>
                        </a>
                        <a href="#" class="signup">
                            <img src="img/icon/github.svg" alt="">
                            <span>GitHub</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>