<section class="xln-info-block">
    <div class="xln-container">
        <div class="xln-info-block__wrapper">
            <div class="xln-info-block__main">
                <h2 class="xln-info-block__title">
                    Bereit für die Cloud-Revolution?
                </h2>
                <div class="xln-info-block__text">
                    Provisioniert jetzt unsere produktionsbereiten, in der Cloud gehosteten Datenbanken - innert Minuten und mit wenigen Klicks!
                </div>
            </div>
            <div class="xln-info-block__buttons">
                <a href="#modal-signup" class="xln-button xln-button--green open-popup-link">
                    Account erstellen
                </a>
                <a href="#modal-contact" class="xln-button xln-button--opacity open-popup-link">
                    Let’s talk
                </a>
            </div>
        </div>
    </div>
</section>