<section class="xln-news">
    <div class="xln-container">
        <h2 class="xln-title--h2 xln-news__title">
            News
        </h2>
        <div class="xln-news__tags">
            <button class="xln-news__tag xln-active">News</button>
            <button class="xln-news__tag">Company</button>
            <button class="xln-news__tag">Blog</button>
            <button class="xln-news__tag">Guides</button>
            <button class="xln-news__tag">HQ Updates</button>
        </div>
        <div class="xln-news__content">
            <div class="xln-news-item">
                <div class="xln-news-item__wrapper">
                    <div class="xln-news-item__main">
                        <a href="#" class="xln-news-item__img-wrapper">
                            <img src="img/base/news-1.jpg" alt="news" class="xln-news-item__img">
                        </a>
                        <div class="xln-news-item__tags">
                            <a href="#" class="xln-news-item__tag">
                                Tech
                            </a>
                            <a href="#" class="xln-news-item__tag">
                                Blog
                            </a>
                            <a href="#" class="xln-news-item__tag">
                                HQ Updates
                            </a>
                        </div>
                        <a href="#" class="xln-news-item__title">
                            In 2021, be prepared for perfidious cyber attacks such as ransomware
                        </a>
                        <p class="xln-news-item__text">
                            We’ll be presenting the 2020 Benefits plans at the All Hands next week. All individuals responsible for text overflow
                        </p>
                    </div>
                    <div class="xln-news-item__info">
                        <div class="xln-news-item__info-item">
                            Michael Dudli
                        </div>
                        <div class="xln-news-item__info-item">
                            Tue, 06 Apr
                        </div>
                        <div class="xln-news-item__info-item">
                            2 mins read
                        </div>
                    </div>
                </div>
            </div>
            <div class="xln-news-item">
                <div class="xln-news-item__wrapper">
                    <div class="xln-news-item__main">
                        <a href="#" class="xln-news-item__img-wrapper">
                            <img src="img/base/news-2.jpg" alt="news" class="xln-news-item__img">
                        </a>
                        <div class="xln-news-item__tags">
                            <a href="#" class="xln-news-item__tag">
                                Tech
                            </a>
                            <a href="#" class="xln-news-item__tag">
                                Blog
                            </a>
                            <a href="#" class="xln-news-item__tag">
                                HQ Updates
                            </a>
                        </div>
                        <a href="#" class="xln-news-item__title">
                            The myth of too little bandwidth - what internet speed does the cloud need?
                        </a>
                        <p class="xln-news-item__text">
                            Great work facilitating the sync today. I took some notes to keep track of all action items. Feel free text overflow
                        </p>
                    </div>
                    <div class="xln-news-item__info">
                        <div class="xln-news-item__info-item">
                            Michael Dudli
                        </div>
                        <div class="xln-news-item__info-item">
                            Tue, 06 Apr
                        </div>
                        <div class="xln-news-item__info-item">
                            2 mins read
                        </div>
                    </div>
                </div>
            </div>
            <div class="xln-news-item">
                <div class="xln-news-item__wrapper">
                    <div class="xln-news-item__main">
                        <a href="#" class="xln-news-item__img-wrapper">
                            <img src="img/base/news-3.jpg" alt="news" class="xln-news-item__img">
                        </a>
                        <div class="xln-news-item__tags">
                            <a href="#" class="xln-news-item__tag">
                                Tech
                            </a>
                            <a href="#" class="xln-news-item__tag">
                                Blog
                            </a>
                            <a href="#" class="xln-news-item__tag">
                                HQ Updates
                            </a>
                        </div>
                        <a href="#" class="xln-news-item__title">
                            A guide to cloud migration in SMEs - why and how cloud migration works
                        </a>
                        <p class="xln-news-item__text">
                            Bummer I had to miss your presentation! I just got a chance to step out of our leadership mind-meld text overflow
                        </p>
                    </div>
                    <div class="xln-news-item__info">
                        <div class="xln-news-item__info-item">
                            Michael Dudli
                        </div>
                        <div class="xln-news-item__info-item">
                            Tue, 06 Apr
                        </div>
                        <div class="xln-news-item__info-item">
                            2 mins read
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xln-news__pagination xln-pagination">
            <button class="xln-pagination__arrow xln-pagination__arrow--prev">
                <svg width='13px' height='22px'>
                    <use xlink:href='#arrow-left'></use>
                </svg>
            </button>
            <ul class="xln-pagination__list">
                <li class="xln-pagination__item">
                    <a href="#" class="xln-pagination__page">
                        1
                    </a>
                </li>
                <li class="xln-pagination__item">
                    <a href="#" class="xln-pagination__page xln-active">
                        2
                    </a>
                </li>
                <li class="xln-pagination__item">
                    <a href="#" class="xln-pagination__page">
                        3
                    </a>
                </li>
                <li class="xln-pagination__item">
                    <a href="#" class="xln-pagination__page">
                        ..
                    </a>
                </li>
                <li class="xln-pagination__item">
                    <a href="#" class="xln-pagination__page">
                        22
                    </a>
                </li>
            </ul>
            <button class="xln-pagination__arrow xln-pagination__arrow--next">
                <svg width='13px' height='22px'>
                    <use xlink:href='#arrow-right'></use>
                </svg>
            </button>
        </div>
        <div class="xln-news__footer">
            <a href="#" class="xln-news__button xln-button xln-button--big">Xelon Blog entdecken</a>
        </div>
    </div>
</section><!-- /.xln-news -->
