<section class="xln-offer">
    <div class="xln-container">
        <div class="xln-offer__wrapper">
            <div class="xln-offer-item__logo-wrapper">
                <img src="img/header-logo.svg" alt="">
            </div>
            <div class="xln-offer__slider">
                <div class="xln-offer-item">
                    <div class="xln-offer-item__content">
                        <h2 class="xln-offer-item__title">
                            Wir legen Wert auf die Benutzerfreundlichkeit
                        </h2>
                        <p class="xln-offer-item__text">
                            Zusammen mit Ihren Inputs bringen unsere UI/UX-Spezialisten Benutzerfreundlichkeit in die Funktionen der Enterprise-Klasse und helfen Ihnen, Ihre Umgebung, Anwendungen und Dienste problemlos zu betreiben
                        </p>
                        <a href="#" class="xln-offer-item__link link-arrow">
                            Die Plattform entdecken
                        </a>
                    </div>
                </div>
                <div class="xln-offer-item">
                    <div class="xln-offer-item__content">
                        <h2 class="xln-offer-item__title">
                            Wir legen Wert auf die Sicherheit
                        </h2>
                        <p class="xln-offer-item__text">
                            Indem wir eine Reihe von verschiedenen Tools und Funktionen direkt auf der Plattform bereitstellen, unterstützen wir Sie dabei, sichere Infrastrukturen für Ihre Anwendungen und Dienste zu betreiben
                        </p>
                        <a href="#" class="xln-offer-item__link link-arrow">
                            Erfahren Sie mehr über It-Sicherheit
                        </a>
                    </div>
                </div>
                <div class="xln-offer-item">
                    <div class="xln-offer-item__content">
                        <h2 class="xln-offer-item__title">
                            Wir legen Wert auf starkes Team
                        </h2>
                        <p class="xln-offer-item__text">
                            Unser Team aus hochqualifizierten Fachleuten in verschiedenen Bereichen ist der Kern unseres Erfolgs. Wir bieten dem Team ein Umfeld, in dem Menschen wachsen und die Messlatte ständig höher setzen können
                        </p>
                        <a href="#" class="xln-offer-item__link link-arrow">
                            Lernen Sie unser Team kennen
                        </a>
                    </div>
                </div>
                <div class="xln-offer-item">
                    <div class="xln-offer-item__content">
                        <h2 class="xln-offer-item__title">
                            Sie sind uns wichtig
                        </h2>
                        <p class="xln-offer-item__text">
                            Unsere Mission ist es, Developern, Sysadmins und Devops zu helfen, ihr Leben einfacher zu machen. Und wenn etwas nicht wie erwartet funktioniert,steht Ihnen ein Team hochqualifizierter Experten zur Seite
                        </p>
                    </div>
                </div>
            </div>
            <div class="xln-offer__slider-nav xln-slider-nav">
                <button class="xln-slider-nav-dot"></button>
                <button class="xln-slider-nav-dot"></button>
                <button class="xln-slider-nav-dot"></button>
                <button class="xln-slider-nav-dot"></button>
            </div>
        </div>
        <div class="xln-offer-stat">
            <h2 class="xln-offer-stat__title">
                Unsere Zahlen sagen <br />
                mehr über uns
            </h2>
            <div class="xln-offer-stat__stats">
                <div class="xln-offer-stat__item">
                    <div class="xln-offer-stat__number"><span>500</span>+</div>
                    <p class="xln-offer-stat__text">Kunden</p>
                </div>
                <div class="xln-offer-stat__item">
                    <div class="xln-offer-stat__number"><span>20</span>+</div>
                    <p class="xln-offer-stat__text">Länder</p>
                </div>
                <div class="xln-offer-stat__item">
                    <div class="xln-offer-stat__number"><span>30</span>+</div>
                    <p class="xln-offer-stat__text">Mitarbeiter</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.xln-offer -->
