<section class="xln-service">
    <div class="xln-container">
        <div class="xln-service__mobile-title">
            <h2 class="xln-title--h2">
                Für jedes Business <br>
                Für alle Herausforderungen
            </h2>
        </div>
    </div>
    <div class="xln-service__wrapper" data-tab-parent>
        <div class="xln-service__content">
            <div class="xln-service__content-item" data-tab-content="it">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-1.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="bottom">
                    <p class="xln-service__comment-text">
                        “Bei der Wahl eines IT-Partners sind uns hohe Verfügbarkeit, Zuverlässigkeit und schneller sowie kompetenter Support extrem wichtig.Auch der Unternehmensstandort Schweiz sei ein entscheidendes Kriterium gewesen”
                    </p>
                    <div class="xln-service__comment-info">
                        <div class="xln-service__comment-info-text">
                            <div class="xln-service__comment-extra">
                                Ken Vogel
                            </div>
                            <div class="xln-service__comment-extra">
                                Head of Management
                            </div>
                        </div>
                        <img src="img/logos/swiss-infosec.svg" alt="swiss logo" class="xln-service__company-logo">
                    </div>
                </div>
            </div>
            <div class="xln-service__content-item" data-tab-content="fintech">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-2.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="bottom">
                    <p class="xln-service__comment-text">
                        Fintech, als eine der am schnellsten wachsenden Branchen, steht in Bezug auf die Cloud-Infrastruktur vor verschiedenen Herausforderungen. Mit unserer skalierbaren, stabilen und kosteneffizienten Plattform sind Sie in der Lage, das von Ihrem Unternehmen benötigte Wachstum beizubehalten und FINMA-complient zu bleiben. Mit hohen Sicherheitsstandards ermöglichen Ihnen die Xelon-Lösungen, hoch- und runten zu skalieren, mehr Kontrolle zu behalten und sich voll auf Ihre Geschäftsentwicklung zu konzentrieren
                    </p>
                </div>
            </div>
            <div class="xln-service__content-item" data-tab-content="healthcare">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-4.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="bottom">
                    <p class="xln-service__comment-text">
                        “Der persönliche Austausch und die gemeinsame
                        Lösungsfindung bedeuten uns viel. Man spürt, dass bei
                        Xelon das Kundenwohl im Vordergrund steht”
                    </p>
                    <div class="xln-service__comment-info">
                        <div class="xln-service__comment-info-text">
                            <div class="xln-service__comment-extra">
                                Pascal Besson
                            </div>
                            <div class="xln-service__comment-extra">
                                Lead of Management
                            </div>
                        </div>
                        <img src="img/logos/h-plus.svg" alt="swiss logo" class="xln-service__company-logo">
                    </div>
                </div>
            </div>
            <div class="xln-service__content-item" data-tab-content="governance">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-3.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="bottom">
                    <p class="xln-service__comment-text">
                        “Konova AG etnschied sich aufgrund der hohen Skalierbarkeit zum Wechsel auf Kubernetes. Xelon begleitete den Migrationsprozess und legte die
                        Grundlagen für weiteres Wachstum.”
                    </p>
                    <div class="xln-service__comment-info">
                        <div class="xln-service__comment-info-text">
                            <div class="xln-service__comment-extra">
                                Miro Hegnauer
                            </div>
                            <div class="xln-service__comment-extra">
                                CEO, Konova AG
                            </div>
                        </div>
                        <img src="img/logos/konova.svg" alt="swiss logo" class="xln-service__company-logo">
                    </div>
                </div>
            </div>
            <div class="xln-service__content-item" data-tab-content="insurance">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-5.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="bottom">
                    <p class="xln-service__comment-text">
                        Xelon kümmert sich um das System-Management der digitalen Service-Plattform von JAROWA. Im Vordergrund stehen Datensicherheit und eine hohe Verfügbarkeit. Auf Kundenseite werden neben den technischen Aspekten insbesondere der Austausch mit dem Xelon-Team sowie die Flexibilität geschätzt
                    </p>
                    <div class="xln-service__comment-info">
                        <div class="xln-service__comment-info-text">
                            <div class="xln-service__comment-extra">
                                Roy Vayalathu,
                            </div>
                            <div class="xln-service__comment-extra">
                                Head of Technology & IT Operations
                            </div>
                        </div>
                        <img src="img/logos/jarowa.svg" alt="swiss logo" class="xln-service__company-logo">
                    </div>
                </div>
            </div>
            <div class="xln-service__content-item" data-tab-content="education">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-6.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="right">
                    <p class="xln-service__comment-text">
                        “Für einen reibungslosen Ablauf im Wohn und Beschäftigungsheim ist eine simple, unterbruchfrei funktionierende und sichere IT-Infrastruktur zentral. Die Aarauer PMI.AG implementierte ein Virtual Datacenter bei der Stiftung Seehalde und bezog die Infrastruktur dafür bei Xelon. Im Vordergrund standen Zuverlässigkeit, Kostenplanbarkeit sowie die Möglichkeit zur fortlaufenden Erweiterung des Rechencenters.”
                    </p>
                    <div class="xln-service__comment-info">
                        <div class="xln-service__comment-info-text">
                            <div class="xln-service__comment-extra">
                                Luca Franek
                            </div>
                            <div class="xln-service__comment-extra">
                                Area Manager, PMI.AG
                            </div>
                        </div>
                        <img src="img/logos/pmi.svg" alt="swiss logo" class="xln-service__company-logo">
                    </div>
                </div>
            </div>
            <div class="xln-service__content-item" data-tab-content="bigData">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-7.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="bottom">
                    <p class="xln-service__comment-text">
                        Sparen Sie Ihre Ressourcen für Aufbau und Verwaltung der IT-Infrastruktur. Mit Xelon-Lösungen bieten wir Ihnen die Möglichkeit, viele Tätigkeiten sowie die Speicherung und Verwaltung großer Datenmengen auszulagern
                    </p>
                </div>
            </div>
            <div class="xln-service__content-item" data-tab-content="devOps">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-8.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="bottom">
                    <p class="xln-service__comment-text">
                        Entwickeln, testen und launchen Sie Ihre Features und bleiben Sie agil. Xelon Kubernetes und andere Tools innerhalb der Plattform ermöglichen Ihnen und Ihrem Team, den Entwicklungsprozess zu beschleunigen und Kunden schnell und zuverlässig mit notwendigen Innovationen zu versorgen
                    </p>
                </div>
            </div>
            <div class="xln-service__content-item" data-tab-content="saas">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-9.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="top">
                    <p class="xln-service__comment-text">
                        Eine stabile und sichere Infrastruktur ist die Basis für ein erfolgreiches SaaS-Unternehmen. Deshalb haben wir unsere Plattform entwickelt, um SaaS Unternehmen die Möglichkeit zu bieten, ihre Applikationen in einer stabilen und sicheren Umgebung zu betreiben und ihre Kunden ohne unnötige Ausfallzeiten zu bedienen.
                        Mit unserem kosteneffizienten "Pay as you go"- Modell zahlen Sie nur für die genutzten Ressourcen und können die Kosten für Ihre IT-Infrastruktur genau kalkulieren
                    </p>
                </div>
            </div>
            <div class="xln-service__content-item" data-tab-content="startup">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-10.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="top">
                    <p class="xln-service__comment-text">
                        Entwickeln Sie Ihre Ideen mit Xelon. Mit unserer Managed-Kubernetes-Plattform können Sie innovativ bleiben, indem Sie neue Features viel schneller als bisher entwickeln und bereitstellen. Kubernetes ermöglicht es Ihnen, den Skalierungsprozess zu beschleunigen, mehr Konsistenz in der Produktion Ihrer Funktionen zu erhalten und Updates ohne Unterbrechung durchzuführen
                    </p>
                </div>
            </div>
            <div class="xln-service__content-item" data-tab-content="sme">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-11.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="bottom">
                    <p class="xln-service__comment-text">
                        “Dem Schweizer Traditionsunternehmen GIDOR SA liegt es am Herzen, rasch auf Kundenfeedbacks reagieren zu können. Dank der Implementierung des Managed Software Service «GooFee» gibt es keine Probleme mehr bei der zentralen Verwaltung von Google Rezensionen”
                    </p>
                    <div class="xln-service__comment-info">
                        <div class="xln-service__comment-info-text">
                            <div class="xln-service__comment-extra">
                                Florije Aliji,
                            </div>
                            <div class="xln-service__comment-extra">
                                Online Marketing Manager, GIDOR SA
                            </div>
                        </div>
                        <img src="img/logos/gidor.svg" alt="swiss logo" class="xln-service__company-logo">
                    </div>
                </div>
            </div>
            <div class="xln-service__content-item" data-tab-content="enterprise">
                <div class="xln-service__img-wrapper">
                    <img src="img/base/service-12.jpg" alt="service-1" class="xln-service__img">
                </div>
                <div class="xln-service__comment-block" data-position="bottom">
                    <p class="xln-service__comment-text">
                        Jedes stabile Unternehmen braucht einen zuverlässigen Partner, wenn wenn es um Cloud-Lösungen geht.
                        Xelon bietet die Stabilität und Sicherheit, die jedes größere Unternehmen braucht, um sein Geschäft weiter wachsen zu lassen.
                        Die perfekte Plattformübersicht, professioneller Support und mit dem Solution Architect an der Seite helfen wir Ihnen, neue Produkte sicher und mit optimiertem
                        Budget einzuführen
                    </p>
                </div>
            </div>
        </div>
        <div class="xln-service__main">
            <div class="xln-service__main-wrapper">
                <div class="xln-service__main-title">
                    <h2 class="xln-title--h2">
                        Für jedes Business <br>
                        Für alle Herausforderungen
                    </h2>
                </div>
                <div class="xln-service__selectors">
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="it">
                            IT
                        </button>
                    </div>
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="fintech">
                            Fintech
                        </button>
                    </div>
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="healthcare">
                            Healthcare
                        </button>
                    </div>
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="governance">
                            Governance
                        </button>
                    </div>
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="insurance">
                            Insurance
                        </button>
                    </div>
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="education">
                            Education
                        </button>
                    </div>
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="bigData">
                            BigData
                        </button>
                    </div>
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="devOps">
                            DevOps
                        </button>
                    </div>
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="saas">
                            Saas
                        </button>
                    </div>
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="startup">
                            Startup
                        </button>
                    </div>
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="sme">
                            KMU
                        </button>
                    </div>
                    <div class="xln-service__button-wrapper">
                        <button type="button" class="xln-service__button" data-tab-selector="enterprise">
                            Large enterprise
                        </button>
                    </div>
                </div>
                <div class="xln-service__slider-nav xln-slider-nav">
                    <button class="xln-slider-nav-dot"></button>
                    <button class="xln-slider-nav-dot"></button>
                    <button class="xln-slider-nav-dot"></button>
                    <button class="xln-slider-nav-dot"></button>
                    <button class="xln-slider-nav-dot"></button>
                    <button class="xln-slider-nav-dot"></button>
                </div>
                <a href="#modal-signup" class="xln-service__sign-up xln-button xln-button--big open-popup-link">
                    Kostenlos anmelden
                </a>
            </div>
        </div>
    </div>
</section><!-- ./xln-service -->
