<section class="xln-tools">
    <div class="xln-container">
        <div class="xln-content">
            <h2 class="xln-tools__title xln-content__title">
                Die besten Tools für Ihr Unternehmen
                <img src="img/icon/rocket.svg" alt="">
            </h2>
        </div>
        <div class="xln-tools__content">
            <div class="xln-tool">
                <img src="img/icon/tool-tenancy.svg" class="xln-tool__icon">
                <div class="xln-tool__content">
                    <h4 class="xln-tool__title">
                        Multi-Tenancy
                    </h4>
                    <p class="xln-tool__text">
                        Verwalten Sie mehrere Systeme für zahlreiche Kunden an einem Ort
                    </p>
                </div>
            </div>
            <div class="xln-tool">
                <img src="img/icon/tool-slack.svg" class="xln-tool__icon">
                <div class="xln-tool__content">
                    <h4 class="xln-tool__title">
                        Slack
                    </h4>
                    <p class="xln-tool__text">
                        Machen Sie Ihre Arbeit effizienter, indem Sie Xelon HQ in Ihren Slack-Channel integrieren
                    </p>
                </div>
            </div>
            <div class="xln-tool">
                <img src="img/icon/tool-verified.svg" class="xln-tool__icon">
                <div class="xln-tool__content">
                    <h4 class="xln-tool__title">
                        Granular Access Control
                    </h4>
                    <p class="xln-tool__text">
                        Verteilung und Kontrolle über Zugang auf Ihr System auf verschiedenen Ebenen
                    </p>
                </div>
            </div>
            <div class="xln-tool">
                <img src="img/icon/tool-restapi.svg" class="xln-tool__icon">
                <div class="xln-tool__content">
                    <h4 class="xln-tool__title">
                        RestAPI
                    </h4>
                    <p class="xln-tool__text">
                        Ermöglichen Sie verschiedenen Clients und Browser-Apps die Kommunikation mit Ihrem Server
                    </p>
                </div>
            </div>
            <div class="xln-tool">
                <img src="img/icon/tool-iam.svg" class="xln-tool__icon">
                <div class="xln-tool__content">
                    <h4 class="xln-tool__title">
                        IAM Integration
                    </h4>
                    <p class="xln-tool__text">
                        Kontrollieren und verwalten Sie die Zugriffe der Benutzer auf Unternehmensinformationen
                    </p>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.xln-tools -->
